Systack/content/saos/saos-data/customer-dashboard/n8n-scheduled-report-generator.json
{
  "name": "SAOS Scheduled Report Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate report date range\nconst now = new Date();\nconst yesterday = new Date(now);\nyesterday.setDate(yesterday.getDate() - 1);\n\nconst formatDate = (d) => d.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    report_date: formatDate(now),\n    period_start: formatDate(yesterday),\n    period_end: formatDate(now),\n    report_type: 'daily_summary',\n    generated_at: now.toISOString()\n  }\n}];"
      },
      "id": "init-report",
      "name": "Initialize Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total_tasks,\n       SUM(CASE WHEN status = 'completed' THEN 1 ELSE 0 END) as completed_tasks,\n       SUM(CASE WHEN status = 'pending' THEN 1 ELSE 0 END) as pending_tasks,\n       SUM(CASE WHEN status = 'failed' THEN 1 ELSE 0 END) as failed_tasks\nFROM task_queue\nWHERE created_at >= CURRENT_DATE - INTERVAL '1 day'",
        "options": {}
      },
      "id": "query-tasks",
      "name": "Query Task Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [650, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT client_id, COUNT(*) as message_count\nFROM chat_messages\nWHERE created_at >= CURRENT_DATE - INTERVAL '1 day'\nGROUP BY client_id\nORDER BY message_count DESC\nLIMIT 10",
        "options": {}
      },
      "id": "query-chat",
      "name": "Query Chat Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT client_id,\n       SUM(CASE WHEN metric_name = 'n8n_runs' THEN value ELSE 0 END) as total_runs,\n       SUM(CASE WHEN metric_name = 'api_calls' THEN value ELSE 0 END) as api_calls\nFROM usage_metrics\nWHERE recorded_at >= CURRENT_DATE - INTERVAL '1 day'\nGROUP BY client_id",
        "options": {}
      },
      "id": "query-usage",
      "name": "Query Usage Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "jsCode": "// Build the report\nconst tasks = $input.all()[0]?.json || {};\nconst chat = $input.all()[1]?.json || {};\nconst usage = $input.all()[2]?.json || {};\n\nconst reportDate = new Date().toISOString().split('T')[0];\n\nconst report = {\n  report_date: reportDate,\n  summary: {\n    total_tasks: tasks.total_tasks || 0,\n    completed_tasks: tasks.completed_tasks || 0,\n    pending_tasks: tasks.pending_tasks || 0,\n    failed_tasks: tasks.failed_tasks || 0,\n    active_conversations: chat.message_count || 0,\n    total_n8n_runs: usage.total_runs || 0,\n    total_api_calls: usage.api_calls || 0\n  },\n  sections: [\n    {\n      title: 'Task Pipeline',\n      content: `${tasks.completed_tasks || 0} completed, ${tasks.pending_tasks || 0} pending, ${tasks.failed_tasks || 0} failed`\n    },\n    {\n      title: 'Chat Activity',\n      content: `${chat.message_count || 0} messages exchanged across active conversations`\n    },\n    {\n      title: 'System Usage',\n      content: `${usage.total_runs || 0} automation runs, ${usage.api_calls || 0} API calls`\n    }\n  ],\n  generated_at: new Date().toISOString()\n};\n\nreturn [{ json: report }];"
      },
      "id": "build-report",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "options": {},
        "fromEmail": "reports@systack.net",
        "toEmail": "phillip@systack.net",
        "subject": "SAOS Daily Report — {{ $json.report_date }}",
        "text": "SAOS Daily Summary Report\n=========================\nDate: {{ $json.report_date }}\n\nTask Pipeline:\n- Completed: {{ $json.summary.completed_tasks }}\n- Pending: {{ $json.summary.pending_tasks }}\n- Failed: {{ $json.summary.failed_tasks }}\n\nChat Activity:\n- Messages: {{ $json.summary.active_conversations }}\n\nSystem Usage:\n- n8n Runs: {{ $json.summary.total_n8n_runs }}\n- API Calls: {{ $json.summary.total_api_calls }}\n\n---\nGenerated by SAOS Report Generator"
      },
      "id": "send-email",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8768/api/internal/notify-client",
        "body": {
          "client_id": "admin",
          "message": "Daily report generated for {{ $json.report_date }}: {{ $json.summary.completed_tasks }} tasks completed, {{ $json.summary.failed_tasks }} failed.",
          "urgency": "normal",
          "channel": "dashboard"
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Internal-Api-Key",
              "value": "saos-internal-dev-key"
            }
          ]
        },
        "options": {}
      },
      "id": "dashboard-notify",
      "name": "Dashboard Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Daily Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Report": {
      "main": [
        [
          {
            "node": "Query Task Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Chat Activity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Usage Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Task Metrics": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Chat Activity": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Usage Metrics": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dashboard Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{"id":"saos","name":"SAOS"}],
  "active": true
}
