Sol-Knowledge/archives/systack-archives/n8n-workflows/extracted/SOL_Morning_Briefing.json
{
  "id": "9bzytwXlOJjE1g7T",
  "name": "SOL Morning Briefing",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "trigger-01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://wttr.in/Little+Rock?format=%C:+%t",
        "options": {}
      },
      "id": "weather-01",
      "name": "Get Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Embedded daily content generator\nconst today = new Date();\nconst dayOfWeek = today.getDay();\nconst dayName = today.toLocaleDateString('en-US', { weekday: 'long', month: 'short', day: 'numeric' });\n\n// Encouragement\nconst encouragements = [\n  \"You are building something real. Keep stacking wins. Every small action compounds.\",\n  \"Every 'no' gets you closer to the 'yes' that changes everything. Stay in the game.\",\n  \"Discipline beats motivation every time. Show up anyway. The results follow.\",\n  \"Small steps compound. What you do today matters more than you think.\",\n  \"Your future self is watching. Make them proud. Build the life they're counting on.\",\n  \"Progress is not linear. Trust the process. The breakthrough is coming.\",\n  \"You are stronger than yesterday. Keep pushing. The edge is where growth happens.\"\n];\n\n// Exercise tips\nconst exerciseTips = [\n  \"5-min stretch: Shoulder rolls 10x, neck circles, touch toes. Blood flow = brain flow.\",\n  \"Take the stairs today. Every step counts. Movement creates energy.\",\n  \"Desk push-ups: 10 reps against desk. Upper body wake-up. Do it now.\",\n  \"Walk while you think. 10 minutes outside resets your whole nervous system.\",\n  \"Hydrate first. 16oz water before coffee. Your cells will thank you.\",\n  \"Box breathing: 4-4-4-4. Inhale, hold, exhale, hold. Calm the mind in 2 minutes.\",\n  \"Stand up every hour. Set a timer. Sitting is the new smoking.\"\n];\n\n// Family reminders\nconst familyReminders = [\n  \"Text someone you love. Takes 10 seconds, lasts all day. Connection is wealth.\",\n  \"Call your person. Even 2 minutes matters more than any deal you'll close today.\",\n  \"Show up present tonight. Phone down at dinner. Eyes up. They notice.\",\n  \"Small moments with family > big moments anywhere else. Prioritize.\",\n  \"Your kids notice when you show up. Be there. Time is the only asset you can't buy back.\",\n  \"Ask someone how their day was. Actually listen. That's the good stuff.\",\n  \"Hug your people. Physical connection reduces cortisol. Science-backed love.\"\n];\n\n// Self reminders\nconst selfReminders = [\n  \"You can't pour from an empty cup. Take 10 minutes for YOU today. Non-negotiable.\",\n  \"Protect your energy. Say no to what drains you. Boundaries are business strategy.\",\n  \"Progress > perfection. You are enough right now. Don't wait to be happy.\",\n  \"Breathe. You are doing more than you realize. Give yourself credit.\",\n  \"Rest is part of the grind. Schedule it like a meeting. Recovery = performance.\",\n  \"You are not your output. Your worth is inherent. Remember that.\",\n  \"Meditate for 5 minutes. Clear the cache. Your mind is a browser \u2014 refresh it.\"\n];\n\n// Money missions\nconst moneyMissions = [\n  \"One restaurant signing = $3,500 + $250/mo. Who are YOU calling today? Pick up the phone.\",\n  \"Follow up hot. Mt Fuji was interested. Strike while the iron is hot. Time kills deals.\",\n  \"Check your pipeline. Any leads stuck? Push them forward. Momentum beats perfection.\",\n  \"Revenue solves problems. Focus on the next dollar, not the next problem. Action > anxiety.\",\n  \"Your automation works while you sleep. Let n8n handle the follow-ups. You handle the closes.\",\n  \"SyBridge is a real business. Treat it like one. Show up professional. Close like you mean it.\",\n  \"Every no is data. Adjust. The market is telling you something. Listen and iterate.\"\n];\n\n// Science/AI facts\nconst scienceFacts = [\n  \"AI FACT: Claude 3 Opus can process 200K tokens (\u2248500 pages) in one go. Context is the new compute.\",\n  \"SCIENCE: Neuroplasticity means your brain rewires itself at ANY age. You can learn anything.\",\n  \"AI FACT: GPT-4o processes audio, vision, and text simultaneously. Multimodal is the future.\",\n  \"SCIENCE: Dopamine spikes from completion, not pursuit. Finish tasks to feel good.\"\n];\n\n// Stoic/mindfulness teachings\nconst stoicTeachings = [\n  \"STOIC: 'You have power over your mind \u2014 not outside events. Realize this, and you will find strength.' \u2014 Marcus Aurelius\",\n  \"MINDFULNESS: The present moment is all you ever have. The past is memory, the future is imagination. Be here now.\",\n  \"STOIC: 'It is not things that disturb us, but our interpretation of things.' \u2014 Epictetus. Reframe the obstacle.\",\n  \"MINDFULNESS: Equanimity = maintaining calm regardless of external circumstances. That is true power.\"\n];\n\n// Daily picks\nconst encouragement = encouragements[dayOfWeek % encouragements.length];\nconst exercise = exerciseTips[dayOfWeek % exerciseTips.length];\nconst family = familyReminders[dayOfWeek % familyReminders.length];\nconst selfCare = selfReminders[dayOfWeek % selfReminders.length];\nconst money = moneyMissions[dayOfWeek % moneyMissions.length];\nconst science = scienceFacts[dayOfWeek % scienceFacts.length];\nconst stoic = stoicTeachings[dayOfWeek % stoicTeachings.length];\n\nreturn [{ json: {\n  dayName,\n  encouragement,\n  exercise,\n  family,\n  selfCare,\n  money,\n  science,\n  stoic\n}}];"
      },
      "id": "content-01",
      "name": "Generate Daily Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get CRM data from embedded summary\nconst crm = {\n  total_leads: 4,\n  new_leads: 4,\n  hot_leads: 4,\n  contacted: 0,\n  top_leads: [\n    { name: \"Vinos\", score: 88, category: \"Pizza/Brewpub\" },\n    { name: \"Does Eat Place\", score: 85, category: \"Steakhouse\" },\n    { name: \"Riverfront Steakhouse\", score: 82, category: \"Steakhouse\" },\n    { name: \"Mt Fuji\", score: 80, category: \"Sushi/Japanese\" }\n  ]\n};\n\nreturn [{ json: crm }];"
      },
      "id": "crm-01",
      "name": "Load CRM Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the full briefing\nconst weather = $input.all()[0].json.data || 'Weather unavailable';\nconst content = $input.all()[1].json;\nconst crm = $input.all()[2].json;\n\nconst message = `\u2600\ufe0f SOL MORNING BRIEFING\n\n\ud83d\udcc5 ${content.dayName}\n\ud83c\udf24\ufe0f ${weather}\n\n\ud83d\udcb0 MONEY MISSION\n${content.money}\n\n\ud83d\udcca SYBRIDGE PIPELINE\n\u2022 Total Leads: ${crm.total_leads}\n\u2022 Hot Leads (80+): ${crm.hot_leads}\n\u2022 New: ${crm.new_leads}\n\u2022 Contacted: ${crm.contacted}\n\n\ud83d\udd25 TOP LEADS\n${crm.top_leads.map(l => `\u2022 ${l.name} (${l.score}) \u2014 ${l.category}`).join('\\n')}\n\n\ud83d\udcaa EXERCISE TIP\n${content.exercise}\n\n\ud83d\udc68\u200d\ud83d\udc69\u200d\ud83d\udc67\u200d\ud83d\udc66 FAMILY\n${content.family}\n\n\ud83e\uddd8 SELF\n${content.selfCare}\n\n\ud83e\udde0 SCIENCE / AI\n${content.science}\n\n\ud83d\udd4a\ufe0f STOIC / MINDFULNESS\n${content.stoic}\n\n\ud83d\udd25 WORDS\n${content.encouragement}\n\n\ud83d\udd17 QUICK LINKS\n\u2022 n8n: http://localhost:5678\n\u2022 Outreach: ACTIVE & RUNNING\n\u2022 CRM: ${crm.total_leads} leads ready\n\n\u2014 SOL \ud83d\udef0\ufe0f`;\n\nreturn [{ json: { message, subject: `SOL Briefing \u2014 ${content.dayName}` } }];"
      },
      "id": "format-01",
      "name": "Format Briefing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        450
      ]
    },
    {
      "parameters": {
        "sendTo": "Plowe95@yahoo.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "gmail-01",
      "name": "Send to Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        850,
        450
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "mR3GfNMrhIPM1swf",
          "name": "Gmail account"
        }
      },
      "webhookId": "0954b851-b1d0-41f0-8cc7-c4bb69b2a9a8"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Weather",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Daily Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load CRM Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather": {
      "main": [
        [
          {
            "node": "Format Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Daily Content": {
      "main": [
        [
          {
            "node": "Format Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load CRM Data": {
      "main": [
        [
          {
            "node": "Format Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Briefing": {
      "main": [
        [
          {
            "node": "Send to Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "AdAM0770d3pJTrWt",
    "timezone": "America/Chicago"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        0
      ]
    }
  },
  "meta": {},
  "tags": [],
  "versionId": "691f240d-6fd1-4327-97e4-e2eebcad8aa9",
  "triggerCount": 1,
  "pinData": null
}