Sol-Knowledge/archives/systack-archives/n8n-workflows/extracted/Systack_Lead_Scraper_—_PostgreSQL_CRM.json
{
  "id": "zFYCzAQh9HlNHGpS",
  "name": "Systack Lead Scraper \u2014 PostgreSQL CRM",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "ee008e10-38ed-407d-9f3e-8a660ea6dcbf",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1600,
        224
      ]
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/place/nearbysearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location",
              "value": "34.7465,-92.2896"
            },
            {
              "name": "radius",
              "value": "15000"
            },
            {
              "name": "type",
              "value": "restaurant"
            },
            {
              "name": "key",
              "value": "=AIzaSyBhmoUCGTCYVIPW1Y_Dlvapv7w7H7U_T4Y"
            }
          ]
        },
        "options": {}
      },
      "id": "616440e4-32e5-4f0c-bb5d-a182c5728baa",
      "name": "Google Maps API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1408,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $json.results || [];\nconst restaurants = results.map(place => ({\n  place_id: place.place_id,\n  name: place.name,\n  address: place.vicinity,\n  rating: place.rating || 0,\n  review_count: place.user_ratings_total || 0,\n  types: place.types?.join(', ') || '',\n  lat: place.geometry?.location?.lat,\n  lng: place.geometry?.location?.lng\n}));\nreturn restaurants.map(r => ({ json: r }));"
      },
      "id": "21e5e087-db52-4895-9d5f-6a4f06df2b78",
      "name": "Extract Restaurants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        224
      ]
    },
    {
      "parameters": {
        "url": "={{'https://maps.googleapis.com/maps/api/place/details/json?place_id=' + $json.place_id + '&fields=website,formatted_phone_number&key=' + AIzaSyBhmoUCGTCYVIPW1Y_Dlvapv7w7H7U_T4Y",
        "options": {}
      },
      "id": "5f2889d5-8ff4-4543-b9ee-8d9fe9e9d11b",
      "name": "Get Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const detail = $json.result || {};\nconst restaurant = $input.first().json;\nreturn [{ json: {\n  ...restaurant,\n  website: detail.website || '',\n  phone: detail.formatted_phone_number || ''\n} }];"
      },
      "id": "f19634ac-dd6f-40ab-bcbb-0376f17a5f28",
      "name": "Merge Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        224
      ]
    },
    {
      "parameters": {
        "url": "={{$json.website}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 5000
        }
      },
      "id": "770977c6-aa67-46b7-86e5-54e77759b532",
      "name": "Check Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        224
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const restaurant = $input.first().json;\nconst html = ($json.data || '').toLowerCase();\n\nconst hasOrderOnline = /order.*online|online.*order|order.*now/i.test(html);\nconst hasDoordash = /doordash|door dash/i.test(html);\nconst hasUbereats = /uber\\s*eats|ubereats/i.test(html);\nconst hasGrubhub = /grubhub|grub hub/i.test(html);\nconst hasSquare = /square|squareup/i.test(html);\nconst hasToast = /toasttab|toast/i.test(html);\nconst hasChownow = /chownow|chow now/i.test(html);\n\nlet score = 0;\nlet reasons = [];\n\nif (restaurant.website) { score += 1; reasons.push('has_website'); }\nif (!hasOrderOnline) { score += 2; reasons.push('no_online_ordering'); }\nif (hasDoordash || hasUbereats || hasGrubhub) { score += 1; reasons.push('on_third_party'); }\nif (restaurant.rating >= 3.5) { score += 1; reasons.push('good_rating'); }\nif (restaurant.phone) { score += 1; reasons.push('has_phone'); }\n\nlet category = 'Skip';\nif (score >= 4) category = 'Qualified';\nelse if (score >= 2) category = 'Research';\n\nreturn [{ json: {\n  ...restaurant,\n  has_order_online: hasOrderOnline,\n  has_doordash: hasDoordash,\n  has_ubereats: hasUbereats,\n  has_grubhub: hasGrubhub,\n  has_square: hasSquare,\n  has_toast: hasToast,\n  has_chownow: hasChownow,\n  score,\n  score_reasons: reasons,\n  category,\n  stage: 'New',\n  owner: 'Green',\n  created_date: new Date().toISOString(),\n  source: 'n8n_scraper'\n} }];"
      },
      "id": "ef2c15e7-8c1a-49a7-8c47-d0c63f2331e1",
      "name": "Score Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const sqlite3 = require(\"sqlite3\");\nconst DB_PATH = process.env.CRM_DB_PATH || '/home/node/sol-workspace/green-systems-crm.db';\nconst lead = $input.first().json;\n\nreturn new Promise((resolve, reject) => {\n  const db = new sqlite3.Database(DB_PATH);\n  const query = `\n    INSERT INTO leads (\n      place_id, name, address, phone, website, rating, review_count,\n      category, score, stage, owner, created_date, source,\n      has_order_online, has_doordash, has_ubereats, has_grubhub,\n      has_square, has_toast, has_chownow\n    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\n    ON CONFLICT(place_id) DO UPDATE SET\n      name = excluded.name,\n      address = excluded.address,\n      phone = excluded.phone,\n      website = excluded.website,\n      rating = excluded.rating,\n      review_count = excluded.review_count,\n      category = excluded.category,\n      score = excluded.score,\n      has_order_online = excluded.has_order_online,\n      has_doordash = excluded.has_doordash,\n      has_ubereats = excluded.has_ubereats,\n      has_grubhub = excluded.has_grubhub,\n      has_square = excluded.has_square,\n      has_toast = excluded.has_toast,\n      has_chownow = excluded.has_chownow\n  `;\n  const values = [\n    lead.place_id, lead.name, lead.address, lead.phone, lead.website,\n    lead.rating, lead.review_count, lead.category, lead.score,\n    lead.stage, lead.owner, lead.created_date, lead.source,\n    lead.has_order_online ? 1 : 0, lead.has_doordash ? 1 : 0,\n    lead.has_ubereats ? 1 : 0, lead.has_grubhub ? 1 : 0,\n    lead.has_square ? 1 : 0, lead.has_toast ? 1 : 0,\n    lead.has_chownow ? 1 : 0\n  ];\n  db.run(query, values, function(err) {\n    db.close();\n    if (err) {\n      resolve([{ json: { error: err.message, ...lead } }]);\n    } else {\n      resolve([{ json: { ...lead, db_status: 'saved', db_changes: this.changes } }]);\n    }\n  });\n});"
      },
      "id": "4f3d8840-e7a0-44c1-8b8f-fbbdb4263ad0",
      "name": "SQLite \u2014 Save Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        224
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-qualified",
              "leftValue": "={{$json.category}}",
              "rightValue": "Qualified",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "095b2d99-a679-4301-8576-f072df8c3a13",
      "name": "IF \u2014 Qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\n\nreturn [{\n  json: {\n    subject: `\ud83c\udfaf New Qualified Lead: ${lead.name}`,\n    text: `A new qualified restaurant lead was found:\n\n\ud83c\udfe2 ${lead.name}\n\ud83d\udccd ${lead.address || 'N/A'}\n\ud83d\udcde ${lead.phone || 'N/A'}\n\ud83c\udf10 ${lead.website || 'N/A'}\n\u2b50 ${lead.rating}/5 (${lead.review_count} reviews)\n\n\ud83d\udcca Score: ${lead.score}/5\n\ud83c\udff7\ufe0f  Category: ${lead.category}\n\nWebsite Signals:\n- Online Ordering: ${lead.has_order_online ? 'Yes' : 'No'}\n- DoorDash: ${lead.has_doordash ? 'Yes' : 'No'}\n- UberEats: ${lead.has_ubereats ? 'Yes' : 'No'}\n- Grubhub: ${lead.has_grubhub ? 'Yes' : 'No'}\n\nReview in CRM: sqlite3 ~/.openclaw/workspaces/sol/green-systems-crm.db`\n  }\n}];"
      },
      "id": "2e7d8c19-b223-426b-9f31-a28bef1a4c3c",
      "name": "Build Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "plowe@systack.net",
        "subject": "={{$json.subject}}",
        "message": "Systack leads",
        "options": {}
      },
      "id": "1fa598c1-3163-4606-aac0-e651e463bea1",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "webhookId": "b8794515-1eed-41dc-9123-eb370ad77560",
      "credentials": {
        "gmailOAuth2": {
          "id": "mR3GfNMrhIPM1swf",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Maps API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Maps API": {
      "main": [
        [
          {
            "node": "Extract Restaurants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Restaurants": {
      "main": [
        [
          {
            "node": "Get Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Details": {
      "main": [
        [
          {
            "node": "Merge Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Details": {
      "main": [
        [
          {
            "node": "Check Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website": {
      "main": [
        [
          {
            "node": "Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Lead": {
      "main": [
        [
          {
            "node": "SQLite \u2014 Save Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQLite \u2014 Save Lead": {
      "main": [
        [
          {
            "node": "IF \u2014 Qualified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF \u2014 Qualified?": {
      "main": [
        [
          {
            "node": "Build Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "AdAM0770d3pJTrWt",
    "timezone": "America/Chicago"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        0
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [],
  "versionId": "3c34dc42-e0fc-47e1-a2ec-f7f86b004a04",
  "triggerCount": 1,
  "pinData": {}
}