Systack/content/saos/saos-data/n8n-lead-workflow.json
[{"updatedAt":"2026-05-31T01:54:11.000Z","createdAt":"2026-05-31T01:32:35.734Z","id":"537a81b9-923c-4494-8ea1-c89960742c68","name":"SAOS Lead Capture + Score + Log","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"saos-lead","responseMode":"responseNode","options":{}},"id":"trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"saos-lead"},{"parameters":{"jsCode":"// Lead Scoring Logic\nconst lead = $input.first().json;\nlet score = 0;\nconst reasons = [];\n\n// Industry scoring\nconst industryScores = {\n  food: 25,\n  legal: 30,\n  medical: 35,\n  other: 15\n};\nif (lead.industry) {\n  score += industryScores[lead.industry] || 15;\n  reasons.push(`${lead.industry} industry (+${industryScores[lead.industry] || 15})`);\n}\n\n// Fleet size scoring\nconst fleetScores = {\n  solo: 10,\n  business: 25,\n  enterprise: 40\n};\nif (lead.fleet_size) {\n  score += fleetScores[lead.fleet_size] || 10;\n  reasons.push(`${lead.fleet_size} fleet size (+${fleetScores[lead.fleet_size] || 10})`);\n}\n\n// Message quality (has specific use case)\nif (lead.message && lead.message.length > 20) {\n  score += 15;\n  reasons.push('Detailed use case provided (+15)');\n}\n\n// Phone provided (higher intent than email-only)\nif (lead.phone && lead.phone.length > 9) {\n  score += 10;\n  reasons.push('Phone provided (+10)');\n}\n\n// Business name provided\nif (lead.business_name && lead.business_name.length > 2) {\n  score += 5;\n  reasons.push('Business name provided (+5)');\n}\n\n// Determine tier\nlet tier = 'cold';\nif (score >= 70) tier = 'hot';\nelse if (score >= 50) tier = 'warm';\nelse if (score >= 30) tier = 'mild';\n\n// Determine recommended product\nlet recommendedProduct = 'SAOS Solo Agent';\nif (lead.fleet_size === 'business') recommendedProduct = 'SAOS Business Fleet';\nif (lead.fleet_size === 'enterprise') recommendedProduct = 'SAOS Enterprise Fleet';\nif (lead.industry === 'medical' || lead.industry === 'legal') recommendedProduct = 'SAOS Business Fleet';\n\nreturn [{\n  json: {\n    ...lead,\n    lead_score: score,\n    lead_tier: tier,\n    score_reasons: reasons,\n    recommended_product: recommendedProduct,\n    source: 'SAOS Website Lead Form',\n    submitted_at: new Date().toISOString(),\n    status: 'new'\n  }\n}];"},"id":"score","name":"Score Lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"jsCode":"// Insert lead into CRM database using sqlite3\n// n8n v2 Code Node: resolve reference strings by walking the input item\nconst sqlite3 = require('sqlite3');\nconst item = $input.first();\nconst rawLead = item.json;\n\n// n8n reference strings appear as numeric strings pointing to other items.\n// If lead.name is a reference, the data may be nested under lead.body\n// or elsewhere. Resolve by checking typeof and falling back to body.\nfunction resolve(val) {\n  if (typeof val === 'string' && /^\\d+$/.test(val)) {\n    return undefined;  // reference string, treat as missing so we fall back\n  }\n  return val;\n}\n\nconst lead = {};\nconst keys = Object.keys(rawLead);\nfor (const k of keys) {\n  lead[k] = rawLead[k];\n}\n\n// If name is a reference string, attempt to read from body\nlet name = resolve(lead.name);\nlet business_name = resolve(lead.business_name);\nlet email = resolve(lead.email);\nlet phone = resolve(lead.phone);\nlet industry = resolve(lead.industry);\nlet fleet_size = resolve(lead.fleet_size);\nlet message = resolve(lead.message);\n\nif (lead.body && typeof lead.body === 'object') {\n  const b = lead.body;\n  if (name === undefined) name = resolve(b.name);\n  if (business_name === undefined) business_name = resolve(b.business_name);\n  if (email === undefined) email = resolve(b.email);\n  if (phone === undefined) phone = resolve(b.phone);\n  if (industry === undefined) industry = resolve(b.industry);\n  if (fleet_size === undefined) fleet_size = resolve(b.fleet_size);\n  if (message === undefined) message = resolve(b.message);\n}\n\nconsole.log('CRM node resolved lead:', { name, business_name, email, phone, industry, fleet_size, message });\n\nconst dbPath = '/Users/philliplowe/.openclaw/workspaces/sol/green-systems-crm.db';\n\nreturn new Promise((resolve, reject) => {\n  const db = new sqlite3.Database(dbPath, (err) => {\n    if (err) {\n      resolve([{\n        json: {\n          ...lead,\n          _resolved: { name, business_name, email, phone, industry, fleet_size, message },\n          db_error: err.message,\n          db_status: 'connection_failed'\n        }\n      }]);\n      return;\n    }\n\n    const query = `INSERT INTO leads (\n      name, address, phone, email, category, score, stage, owner, \n      created_date, source, notes\n    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)`;\n\n    const values = [\n      name || business_name || 'Unknown',\n      business_name || '',\n      phone || '',\n      email || '',\n      industry || 'other',\n      lead.lead_score || 0,\n      lead.lead_tier || 'cold',\n      'Green',\n      new Date().toISOString(),\n      'saos_web_form',\n      `Fleet size: ${fleet_size || 'unknown'}. Message: ${message || 'N/A'}`\n    ];\n\n    db.run(query, values, function(err) {\n      if (err) {\n        db.close();\n        resolve([{\n          json: {\n            ...lead,\n            _resolved: { name, business_name, email, phone, industry, fleet_size, message },\n            db_error: err.message,\n            db_status: 'insert_failed'\n          }\n        }]);\n        return;\n      }\n      const lastId = this.lastID;\n      db.close();\n      resolve([{\n        json: {\n          ...lead,\n          _resolved: { name, business_name, email, phone, industry, fleet_size, message },\n          db_status: 'success',\n          db_id: lastId,\n          db_message: 'Lead saved to CRM'\n        }\n      }]);\n    });\n  });\n});\n"},"id":"db-insert","name":"Log to CRM DB","type":"n8n-nodes-base.code","typeVersion":2,"position":[650,300]},{"parameters":{"respondWith":"json","options":{}},"id":"respond","name":"Respond to Web","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[850,300]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Score Lead","type":"main","index":0}]]},"Score Lead":{"main":[[{"node":"Log to CRM DB","type":"main","index":0}]]},"Log to CRM DB":{"main":[[{"node":"Respond to Web","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"8fd245bc-4d25-427b-932a-79933dafbdb0","activeVersionId":"8fd245bc-4d25-427b-932a-79933dafbdb0","versionCounter":14,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-31T01:32:35.735Z","createdAt":"2026-05-31T01:32:35.735Z","role":"workflow:owner","workflowId":"537a81b9-923c-4494-8ea1-c89960742c68","projectId":"LPFVmXe92Be2P99s","project":{"updatedAt":"2026-05-31T01:49:05.563Z","createdAt":"2026-05-31T01:27:44.227Z","id":"LPFVmXe92Be2P99s","name":"phillip lowe <plowe95@yahoo.com>","type":"personal","icon":null,"description":null,"creatorId":"79dc0134-d096-4eb9-9935-a3e1090caf68"}}],"versionMetadata":{"name":null,"description":null}}]