Systack/content/saos/saos-data/n8n-customer-support-drafting.json
{
  "name": "SAOS Customer Support Drafting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 300
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8768/api/internal/pending-tasks",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Internal-Api-Key",
              "value": "saos-internal-dev-key"
            }
          ]
        }
      },
      "id": "fetch-tasks",
      "name": "Fetch Pending Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-support",
              "leftValue": "={{ $json.task_type }}",
              "rightValue": "customer_support_drafting",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "filter-support",
      "name": "Is Support Task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8768/api/internal/notify-client",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "client_id",
              "value": "={{ $json.client_id }}"
            },
            {
              "name": "task_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "message",
              "value": "Support drafting task queued. CHATTY will draft responses within 4 hours."
            },
            {
              "name": "urgency",
              "value": "normal"
            },
            {
              "name": "channel",
              "value": "email"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Internal-Api-Key",
              "value": "saos-internal-dev-key"
            }
          ]
        }
      },
      "id": "notify-client",
      "name": "Notify Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8768/api/chat/webhook/agent-response",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}"
            },
            {
              "name": "agent_name",
              "value": "CHATTY"
            },
            {
              "name": "content",
              "value": "I'll draft support responses for this task. Review them before sending."
            }
          ]
        }
      },
      "id": "assign-chatty",
      "name": "Assign CHATTY",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Tasks": {
      "main": [
        [
          {
            "node": "Is Support Task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Support Task?": {
      "main": [
        [
          {
            "node": "Notify Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assign CHATTY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
