Sol-Knowledge/archives/systack-archives/n8n-workflows/error-catcher-master-v2.json
{
  "name": "Error Catcher \u2014 Master v2",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger-1",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Error Catcher \u2014 Master v2\n// Captures ALL workflow failures, formats alert, routes to multiple channels\n\nconst err = $input.first().json;\nconst timestamp = new Date().toISOString();\nconst workflowName = err.workflow?.name || 'Unknown Workflow';\nconst nodeName = err.node || 'Unknown Node';\nconst errorMsg = err.error?.message || err.message || 'No message';\nconst executionId = err.execution?.id || 'N/A';\nconst startedAt = err.execution?.startedAt || timestamp;\n\n// Determine severity\nlet severity = '\u26a0\ufe0f MEDIUM';\nif (workflowName.includes('Utopia') || workflowName.includes('Deli') || workflowName.includes('Checkout')) {\n  severity = '\ud83d\udea8 CRITICAL \u2014 CLIENT REVENUE IMPACT';\n} else if (workflowName.includes('Lead') || workflowName.includes('Scraper')) {\n  severity = '\ud83d\udd36 HIGH \u2014 LEAD GENERATION IMPACT';\n}\n\nconst payload = {\n  subject: `${severity}: n8n Error \u2014 ${workflowName}`,\n  text: `${severity}\n\n\ud83d\udccb Workflow: ${workflowName}\n\ud83d\udd27 Failed Node: ${nodeName}\n\u274c Error: ${errorMsg}\n\u23f0 Time: ${startedAt}\n\ud83d\udd17 Execution ID: ${executionId}\n\ud83c\udd94 Severity: ${severity}\n\nFull error payload:\n${JSON.stringify(err, null, 2)}\n\n---\nAuto-generated by Error Catcher \u2014 Master v2\n${timestamp}`,\n  severity: severity,\n  workflowName: workflowName,\n  nodeName: nodeName,\n  errorMsg: errorMsg,\n  executionId: executionId,\n  timestamp: timestamp\n};\n\nreturn [{ json: payload }];"
      },
      "id": "format-error",
      "name": "Format Error Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "sol.liaison@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.text }}",
        "options": {},
        "credentials": {
          "smtp": {
            "id": "9e50f8ff-e600-402b-a79a-b02793508695",
            "name": "SOL Gmail SMTP"
          }
        }
      },
      "id": "email-alert",
      "name": "Email Alert (SOL)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log error to SQLite for audit trail\nconst error = $input.first().json;\n\n// This will be connected to a SQLite/Postgres node in production\n// For now, returns structured log entry\n\nconst logEntry = {\n  id: error.executionId || 'manual-' + Date.now(),\n  workflow_name: error.workflowName,\n  node_name: error.nodeName,\n  error_message: error.errorMsg,\n  severity: error.severity,\n  timestamp: error.timestamp,\n  resolved: false,\n  resolved_at: null,\n  resolved_by: null\n};\n\nreturn [{ json: logEntry }];"
      },
      "id": "log-entry",
      "name": "Format Log Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO error_logs (id, workflow_name, node_name, error_message, severity, timestamp, resolved) VALUES (:id, :workflow_name, :node_name, :error_message, :severity, :timestamp, :resolved);",
        "options": {}
      },
      "id": "sqlite-log",
      "name": "SQLite Error Log",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 2,
      "position": [
        850,
        400
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Message": {
      "main": [
        [
          {
            "node": "Email Alert (SOL)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Log Entry": {
      "main": [
        [
          {
            "node": "SQLite Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Error Catcher \u2014 Master v2"
  },
  "tags": [
    {
      "name": "critical",
      "color": "#ff0000"
    },
    {
      "name": "monitoring",
      "color": "#0000ff"
    }
  ],
  "id": "09b8afaa-8b70-430a-af8f-26d5a96a0795",
  "versionId": "7ad761ce-0d3e-4505-bf33-49391d777a87"
}