email-campaign/utopia-deli-weekly-email-campaign.json
{
  "name": "Utopia Deli \u2014 Weekly Email Campaign (Combined)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cron",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get current day of week and week number\nconst now = new Date();\nconst days = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday'];\nconst dayOfWeek = days[now.getDay()];\n\n// Calculate week number for Tuesday rotation\nconst startOfYear = new Date(now.getFullYear(), 0, 1);\nconst weekNumber = Math.ceil(((now - startOfYear) / 86400000 + startOfYear.getDay() + 1) / 7);\n\nreturn [{\n  json: {\n    campaign_day: dayOfWeek,\n    week_number: weekNumber,\n    date: now.toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "set-day",
      "name": "Set Day & Week",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "campaign_day",
        "rules": {
          "values": [
            {
              "value": "monday",
              "output": 0
            },
            {
              "value": "tuesday",
              "output": 1
            },
            {
              "value": "wednesday",
              "output": 2
            },
            {
              "value": "thursday",
              "output": 3
            },
            {
              "value": "friday",
              "output": 4
            },
            {
              "value": "saturday",
              "output": 5
            },
            {
              "value": "sunday",
              "output": 6
            }
          ]
        }
      },
      "id": "switch-day",
      "name": "Route by Day",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// MONDAY \u2014 Item of the Week\n// Focus: Spotlight one dish/menu item to drive interest\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst day = $input.first().json.campaign_day;\nconst baseURL = \"https://order.theutopiadeli.com\";\n\n// MEAL PREP SCHEDULE (Online Orders Only)\n// - Closes: Every Wednesday 12:00 PM\n// - Reopens: Every Thursday 8:00 PM\n// - Pickup: Thursday 12:30 PM \u2013 7:30 PM\n//\n// WALK-UP HOURS (Regular Deli)\n// - Monday \u2013 Saturday: 12:30 PM \u2013 7:30 PM\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// SWAP ZONE: Item of the Week (Update Weekly)\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nconst itemOfTheWeek = {\n  // MEAL PREP SECTION (Top \u2014 the weekly bowls)\n  heroImage: \"https://order.theutopiadeli.com/catering/images/meal-mediterranean-harvest.jpg\",\n  mealPrepHeadline: \"This Week's Meal Prep is Open \ud83c\udf71\",\n  mealPrepSubheadline: \"Fresh, chef-crafted bowls ready for pickup Thursday\",\n  mealPrepBody: \"Our Mediterranean Harvest Bowl leads this week's lineup \u2014 crispy oregano chickpeas, lemon herb quinoa, cucumber tomato salad, housemade hummus, tahini drizzle, and pickled red onion. Order by Wednesday noon.\",\n  promoLine: \"\u23f0 Orders close Wednesday 12:00 PM \u00b7 Pickup Thursday 12:30\u20137:30 PM\",\n  ctaText: \"Order Meal Prep\",\n  ctaLink: `${baseURL}/catering/?utm_source=email&utm_medium=campaign&utm_campaign=monday`,\n  \n  // This week's bowls (update weekly)\n  thisWeekBowls: [\n    { name: \"Mediterranean Harvest\", desc: \"Quinoa, crispy chickpeas, cucumber salad, hummus, tahini\", image: \"https://order.theutopiadeli.com/catering/images/meal-mediterranean-harvest.jpg\" },\n    { name: \"Thai Peanut Crunch\", desc: \"Jasmine rice, peanut tofu, sesame slaw, sweet chili drizzle\", image: \"https://order.theutopiadeli.com/catering/images/meal-thai-peanut-crunch.jpg\" },\n    { name: \"Eggplant Parmesan\", desc: \"Parmesan crusted eggplant, marinara, fresh basil\", image: \"https://order.theutopiadeli.com/catering/images/meal-eggplant-parm.jpg\" },\n    { name: \"Street Corn Taco\", desc: \"Cilantro lime rice, chipotle lentil crumble, roasted corn\", image: \"https://order.theutopiadeli.com/catering/images/meal-buffalo-chickpea.jpg\" },\n    { name: \"Nashville Hot Lentil\", desc: \"Garlic rice, hot lentils, roasted broccoli, ranch drizzle\", image: \"https://order.theutopiadeli.com/catering/images/meal-cajun-northern-beans.jpg\" },\n    { name: \"Cajun Red Beans & Rice\", desc: \"Dirty rice, Cajun beans, peppers & onions\", image: \"https://order.theutopiadeli.com/catering/images/meal-cajun-northern-beans.jpg\" }\n  ],\n  \n  // REGULAR DELI SECTION (Bottom \u2014 walk-up items)\n  deliHeadline: \"Or Walk Up Anytime \ud83c\udf7d\ufe0f\",\n  deliSubheadline: \"Monday \u2013 Saturday \u00b7 12:30 PM \u2013 7:30 PM\",\n  deliItems: [\n    { name: \"Stek Philly\", desc: \"Thin-cut steak, peppers, onions, hoagie roll\", image: \"https://order.theutopiadeli.com/images/menu/stek%20Philly.jpg\", link: `${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=monday` },\n    { name: \"Chick'n Poppers\", desc: \"Crispy dippers \u2014 BBQ, Garlic Parm, Jerk, Buffalo, Lemon Pepper\", image: \"https://order.theutopiadeli.com/images/menu/chicken_poppers_v3.jpg\", link: `${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=monday` },\n    { name: \"Loaded Bac'n Fry\", desc: \"Crinkle-cut fries loaded with bac'n, cheeze sauce\", image: \"https://order.theutopiadeli.com/images/menu/loaded_bacon_fry.jpg\", link: `${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=monday` },\n    { name: \"Chocolate Chip Cookies\", desc: \"Two fresh-baked cookies, warm from the oven\", image: \"https://order.theutopiadeli.com/images/menu/cookies_v2.jpg\", link: `${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=monday` }\n  ],\n  \n  footerPromo: {\n    text: \"Walk up Monday\u2013Saturday 12:30\u20137:30PM \u00b7 Meal prep closes Wed noon\",\n    link: `${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=monday`\n  }\n};\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// END SWAP ZONE\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst images = {\n  logo: 'https://order.theutopiadeli.com/images/logo.png'\n};\n\nconst buildHeader = () => `<tr>\n<td style=\"background:#590B3F;padding:20px 24px;\">\n <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n <tr>\n <td style=\"vertical-align:middle;\">\n <img src=\"${images.logo}\" alt=\"The Utopia Deli\" style=\"height:56px;display:block;\">\n </td>\n <td style=\"vertical-align:middle;padding-left:16px;\">\n <p style=\"margin:0;color:#fff;font-family:'Georgia','Times New Roman',serif;font-size:24px;font-weight:bold;letter-spacing:0.5px;\">\n The Utopia Deli\n </p>\n </td>\n </tr>\n </table>\n</td>\n</tr>\n`;\n\nconst buildFooter = () => `<tr>\n<td style=\"padding:20px;background:#f8f6f4;font-family:'Georgia','Times New Roman',serif;text-align:center;border-top:1px solid #e5e5e5;\">\n<p style=\"margin:0 0 6px;font-size:13px;color:#888;\">\nThe Utopia Deli \u00b7 801 S Chester St \u00b7 Little Rock, AR 72202\n</p>\n<p style=\"margin:0;font-size:12px;\">\n<a href=\"https://n8n.systack.net/webhook/unsubscribe?email=%%EMAIL%%&channel=email\" style=\"color:#AF3D4B;text-decoration:underline;\">Unsubscribe from emails</a>\n</p>\n</td>\n</tr>\n`;\n\nconst wrapEmail = (content) => `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<style>\n@media only screen and (max-width: 600px) {\n .container { width: 100% !important; }\n .hero-img { height: 280px !important; }\n .thumb-grid { display: block !important; }\n .thumb-card { width: 100% !important; margin-bottom: 12px !important; }\n .also-grid { display: block !important; }\n .also-card { width: 100% !important; margin-bottom: 16px !important; }\n}\n</style>\n</head>\n<body style=\"margin:0;padding:0;background:#f8f6f4;font-family:'Georgia','Times New Roman',serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n<tr><td align=\"center\" style=\"padding:24px 12px;\">\n<table class=\"container\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border-radius:16px;overflow:hidden;max-width:600px;width:100%;\">\n${buildHeader()}\n${content}\n${buildFooter()}\n</table>\n</td></tr>\n</table>\n</body>\n</html>\n`;\n\n// Build meal prep bowl grid\nconst buildMealPrepBowls = () => {\n  const cards = itemOfTheWeek.thisWeekBowls.map(bowl => `\n<div class=\"bowl-card\" style=\"flex:1;min-width:160px;background:#f8f6f4;border-radius:12px;overflow:hidden;\">\n<img src=\"${bowl.image}\" style=\"width:100%;height:120px;object-fit:cover;display:block;\">\n<div style=\"padding:12px;\">\n<p style=\"margin:0 0 4px;color:#590B3F;font-weight:bold;font-size:14px;\">${bowl.name}</p>\n<p style=\"margin:0;color:#888;font-size:12px;\">${bowl.desc}</p>\n</div>\n</div>\n`).join('');\n\n  return `<tr>\n<td style=\"padding:0 28px 16px;\">\n<div class=\"bowl-grid\" style=\"display:flex;gap:12px;flex-wrap:wrap;\">\n${cards}\n</div>\n</td>\n</tr>`;\n};\n\n// Build regular deli section\nconst buildDeliSection = () => {\n  const cards = itemOfTheWeek.deliItems.map(item => `\n<div class=\"deli-card\" style=\"flex:1;min-width:160px;background:#f8f6f4;border-radius:12px;overflow:hidden;\">\n<a href=\"${item.link}\" style=\"text-decoration:none;color:inherit;\">\n<img src=\"${item.image}\" style=\"width:100%;height:130px;object-fit:cover;display:block;\">\n<div style=\"padding:12px;\">\n<p style=\"margin:0 0 4px;color:#590B3F;font-weight:bold;font-size:14px;\">${item.name}</p>\n<p style=\"margin:0;color:#888;font-size:12px;\">${item.desc}</p>\n</div>\n</a>\n</div>\n`).join('');\n\n  return `<tr>\n<td style=\"padding:0 28px 24px;\">\n<div style=\"border-top:2px dashed #e5e5e5;padding-top:24px;margin-bottom:24px;\"></div>\n<p style=\"margin:0 0 8px;color:#AF3D4B;font-size:14px;font-weight:bold;letter-spacing:0.5px;\">REGULAR DELI</p>\n<h2 style=\"margin:0 0 12px;color:#590B3F;font-size:24px;line-height:1.2;\">${itemOfTheWeek.deliHeadline}</h2>\n<p style=\"margin:0 0 20px;color:#666;font-size:16px;line-height:1.5;\">${itemOfTheWeek.deliSubheadline}</p>\n<div class=\"deli-grid\" style=\"display:flex;gap:16px;flex-wrap:wrap;\">\n${cards}\n</div>\n</td>\n</tr>`;\n};\n\nconst template = {\n  email_subject: `\u2728 This Week: ${itemOfTheWeek.mealPrepHeadline.replace(\"\ud83c\udf71 \", \"\")}`,\n  email_body: wrapEmail(`\n<tr>\n<td>\n<img src=\"${itemOfTheWeek.heroImage}\" alt=\"${itemOfTheWeek.mealPrepHeadline}\" class=\"hero-img\" style=\"width:100%;height:340px;object-fit:cover;display:block;\">\n</td>\n</tr>\n\n<tr>\n<td style=\"padding:32px 28px 20px;\">\n<p style=\"margin:0 0 8px;color:#AF3D4B;font-size:14px;font-weight:bold;letter-spacing:0.5px;\">MEAL PREP</p>\n<h1 style=\"margin:0 0 12px;color:#590B3F;font-size:28px;line-height:1.2;\">${itemOfTheWeek.mealPrepHeadline}</h1>\n<p style=\"margin:0 0 20px;color:#666;font-size:16px;line-height:1.5;\">${itemOfTheWeek.mealPrepSubheadline}</p>\n<p style=\"margin:0 0 24px;color:#333;font-size:16px;line-height:1.6;\">${itemOfTheWeek.mealPrepBody}</p>\n<p style=\"margin:0 0 24px;color:#AF3D4B;font-size:15px;font-weight:bold;\">${itemOfTheWeek.promoLine}</p>\n<a href=\"${itemOfTheWeek.ctaLink}\"\nstyle=\"display:inline-block;background:#AF3D4B;color:#fff;padding:14px 32px;border-radius:10px;text-decoration:none;font-size:16px;font-weight:bold;\">\n${itemOfTheWeek.ctaText}\n</a>\n</td>\n</tr>\n\n${buildMealPrepBowls()}\n\n${buildDeliSection()}\n\n<tr>\n<td style=\"padding:0 28px 32px;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#590B3F;border-radius:12px;padding:20px;\">\n<tr><td style=\"text-align:center;\">\n<p style=\"margin:0 0 4px;color:#fff;font-size:16px;font-weight:bold;\">The Utopia Deli</p>\n<p style=\"margin:0 0 4px;color:#fff;font-size:14px;\">801 S Chester St, Little Rock, AR 72202</p>\n<p style=\"margin:0;color:#fff;font-size:13px;opacity:0.8;\">Walk up Monday\u2013Saturday \u00b7 12:30PM\u20137:30PM \u00b7 Meal prep: closes Wed noon, pickup Thu</p>\n</td></tr>\n</table>\n</td>\n</tr>\n`)\n};\n\nconst results = [];\nfor (const item of $input.all()) {\n  const c = item.json;\n  if (c.email && !c.unsubscribed_email) {\n    results.push({\n      json: {\n        contact_id: c.id,\n        channel: 'email',\n        to: c.email,\n        subject: template.email_subject,\n        body: template.email_body.replace(/%%EMAIL%%/g, encodeURIComponent(c.email)),\n        campaign_day: day\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "id": "code-monday",
      "name": "Monday \u2014 Item of the Week",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// TUESDAY \u2014 Catering Push (3-Week Rotating Cycle)\n// Focus: Drive catering bookings \u2014 events, corporate, pickup platters\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst day = $input.first().json.campaign_day;\nconst baseURL = \"https://order.theutopiadeli.com\";\n\n// MEAL PREP SCHEDULE (Online Orders Only)\n// - Closes: Every Wednesday 12:00 PM\n// - Reopens: Every Thursday 8:00 PM\n// - Pickup: Thursday 12:30 PM \u2013 7:30 PM\n//\n// WALK-UP HOURS (Regular Deli)\n// - Monday \u2013 Saturday: 12:30 PM \u2013 7:30 PM\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// SWAP ZONE: Catering Focus (Update per cycle)\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// Use weekCycle to rotate between 3 themes automatically\n// Week 1 = events, Week 2 = corporate, Week 3 = platters\nconst weekCycle = ($input.first().json.week_number || 1) % 3; // 0,1,2\n\nconst cateringThemes = [\n  {\n    // Week 1: Events & Parties\n    headline: \"Planning an Event? Let's Make It Delicious\",\n    subheadline: \"Weddings, birthdays, celebrations \u2014 we cater events of all sizes\",\n    heroImage: \"https://order.theutopiadeli.com/images/Deli%20Catering%20Salad.jpg\",\n    body: \"From intimate gatherings to full-scale celebrations, Utopia Deli brings bold, plant-forward flavors that everyone remembers. Our catering team handles the food so you can handle the hosting. Minimum 10 guests, 3 days notice required.\",\n    ctaText: \"Get a Catering Quote\",\n    ctaLink: `${baseURL}/catering/?utm_source=email&utm_medium=campaign&utm_campaign=tuesday-events`,\n    features: [\n      { icon: \"\ud83c\udf89\", title: \"Any Occasion\", desc: \"Weddings, birthdays, graduations, retirements\" },\n      { icon: \"\ud83c\udf7d\ufe0f\", title: \"Flexible Service\", desc: \"Drop-off, staffed buffet, or plated service\" },\n      { icon: \"\ud83d\udccb\", title: \"Custom Menus\", desc: \"Work with us to build the perfect spread\" }\n    ],\n    socialProof: \"\\\"The Utopia Deli catered our office party and everyone was blown away. Even the meat-eaters went back for seconds.\\\" \u2014 Sarah M.\",\n    subject: \"\ud83c\udf89 Planning an Event? Let's Cater It\"\n  },\n  {\n    // Week 2: Corporate / Office\n    headline: \"Feed Your Team \u2014 Corporate Catering Made Easy\",\n    subheadline: \"Office lunches, team meetings, client presentations \u2014 we've got you covered\",\n    heroImage: \"https://order.theutopiadeli.com/images/Deli%20Catering%20Fruit%20Salad.jpg\",\n    body: \"Keep your team fueled and focused with fresh, flavorful catering that actually excites people. No sad sandwich platters here \u2014 we're talking loaded bowls, crispy sliders, and desserts that disappear first. Set up recurring weekly orders or book one-time events.\",\n    ctaText: \"Book Corporate Catering\",\n    ctaLink: `${baseURL}/catering/?utm_source=email&utm_medium=campaign&utm_campaign=tuesday-corporate`,\n    features: [\n      { icon: \"\ud83c\udfe2\", title: \"Office-Friendly\", desc: \"Easy setup, minimal cleanup, maximum flavor\" },\n      { icon: \"\ud83d\udd04\", title: \"Recurring Orders\", desc: \"Weekly team lunch on autopilot\" },\n      { icon: \"\ud83d\udcbc\", title: \"Client-Ready\", desc: \"Impress prospects with premium catering\" }\n    ],\n    socialProof: \"\\\"We order Utopia every Friday for our team lunch. It's the highlight of the week.\\\" \u2014 Marcus T., Tech Lead\",\n    subject: \"\ud83c\udfe2 Feed Your Team \u2014 Corporate Catering\"\n  },\n  {\n    // Week 3: Pickup Platters\n    headline: \"Pickup Platters \u2014 Party Food Without the Work\",\n    subheadline: \"Pre-made platters ready for pickup. Perfect for last-minute gatherings.\",\n    heroImage: \"https://order.theutopiadeli.com/images/menu/cowboy_chicken.webp\",\n    body: \"Need food fast? Our pickup platters are ready to go \u2014 no minimum headcount, no lengthy booking process. Just order, grab, and go. Great for game nights, casual get-togethers, or when you just don't feel like cooking.\",\n    ctaText: \"Order Pickup Platters\",\n    ctaLink: `${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=tuesday-platters`,\n    features: [\n      { icon: \"\u26a1\", title: \"Ready Fast\", desc: \"Order today, pickup tomorrow\" },\n      { icon: \"\ud83c\udf57\", title: \"Slider Platters\", desc: \"Buffalo, bourbon, or mixed \u2014 12 or 24 count\" },\n      { icon: \"\ud83e\udd57\", title: \"Sides & Salads\", desc: \"Complete the spread with fresh sides\" }\n    ],\n    socialProof: \"\\\"Ordered the slider platter for game night. Gone in 20 minutes. Already ordering for next weekend.\\\" \u2014 James R.\",\n    subject: \"\ud83c\udf7d\ufe0f Pickup Platters \u2014 Easy & Delicious\"\n  }\n];\n\nconst theme = cateringThemes[weekCycle];\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// END SWAP ZONE\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst images = {\n  logo: 'https://order.theutopiadeli.com/images/logo.png'\n};\n\nconst buildHeader = () => `<tr>\n<td style=\"background:#590B3F;padding:20px 24px;\">\n <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n <tr>\n <td style=\"vertical-align:middle;\">\n <img src=\"${images.logo}\" alt=\"The Utopia Deli\" style=\"height:56px;display:block;\">\n </td>\n <td style=\"vertical-align:middle;padding-left:16px;\">\n <p style=\"margin:0;color:#fff;font-family:'Georgia','Times New Roman',serif;font-size:24px;font-weight:bold;letter-spacing:0.5px;\">\n The Utopia Deli\n </p>\n </td>\n </tr>\n </table>\n</td>\n</tr>\n`;\n\nconst buildFooter = () => `<tr>\n<td style=\"padding:20px;background:#f8f6f4;font-family:'Georgia','Times New Roman',serif;text-align:center;border-top:1px solid #e5e5e5;\">\n<p style=\"margin:0 0 6px;font-size:13px;color:#888;\">\nThe Utopia Deli \u00b7 801 S Chester St \u00b7 Little Rock, AR 72202\n</p>\n<p style=\"margin:0;font-size:12px;\">\n<a href=\"https://n8n.systack.net/webhook/unsubscribe?email=%%EMAIL%%&channel=email\" style=\"color:#AF3D4B;text-decoration:underline;\">Unsubscribe from emails</a>\n</p>\n</td>\n</tr>\n`;\n\nconst wrapEmail = (content) => `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<style>\n@media only screen and (max-width: 600px) {\n .container { width: 100% !important; }\n .hero-img { height: 280px !important; }\n .feature-grid { display: block !important; }\n .feature-card { width: 100% !important; margin-bottom: 12px !important; }\n}\n</style>\n</head>\n<body style=\"margin:0;padding:0;background:#f8f6f4;font-family:'Georgia','Times New Roman',serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n<tr><td align=\"center\" style=\"padding:24px 12px;\">\n<table class=\"container\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border-radius:16px;overflow:hidden;max-width:600px;width:100%;\">\n${buildHeader()}\n${content}\n${buildFooter()}\n</table>\n</td></tr>\n</table>\n</body>\n</html>\n`;\n\nconst buildFeatures = () => {\n  return `<tr>\n<td style=\"padding:0 28px 24px;\">\n<div class=\"feature-grid\" style=\"display:flex;gap:12px;\">\n${theme.features.map(f => `\n<div class=\"feature-card\" style=\"flex:1;min-width:160px;background:#f8f6f4;border-radius:12px;padding:20px;text-align:center;\">\n<p style=\"margin:0 0 8px;font-size:28px;\">${f.icon}</p>\n<p style=\"margin:0 0 4px;color:#590B3F;font-weight:bold;font-size:14px;\">${f.title}</p>\n<p style=\"margin:0;color:#888;font-size:12px;line-height:1.4;\">${f.desc}</p>\n</div>\n`).join('')}\n</div>\n</td>\n</tr>`;\n};\n\nconst template = {\n  email_subject: theme.subject,\n  email_body: wrapEmail(`\n<tr>\n<td>\n<img src=\"${theme.heroImage}\" alt=\"${theme.headline}\" class=\"hero-img\" style=\"width:100%;height:340px;object-fit:cover;display:block;\">\n</td>\n</tr>\n\n<tr>\n<td style=\"padding:32px 28px 20px;\">\n<p style=\"margin:0 0 8px;color:#AF3D4B;font-size:14px;font-weight:bold;letter-spacing:0.5px;\">CATERING</p>\n<h1 style=\"margin:0 0 12px;color:#590B3F;font-size:28px;line-height:1.2;\">${theme.headline}</h1>\n<p style=\"margin:0 0 20px;color:#666;font-size:16px;line-height:1.5;font-style:italic;\">${theme.subheadline}</p>\n<p style=\"margin:0 0 24px;color:#333;font-size:16px;line-height:1.6;\">${theme.body}</p>\n<a href=\"${theme.ctaLink}\"\nstyle=\"display:inline-block;background:#AF3D4B;color:#fff;padding:14px 32px;border-radius:10px;text-decoration:none;font-size:16px;font-weight:bold;\">\n${theme.ctaText}\n</a>\n</td>\n</tr>\n\n${buildFeatures()}\n\n<tr>\n<td style=\"padding:0 28px 24px;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f8f6f4;border-left:4px solid #AF3D4B;border-radius:0 12px 12px 0;padding:20px;\">\n<tr><td>\n<p style=\"margin:0;color:#590B3F;font-size:15px;line-height:1.6;font-style:italic;\">${theme.socialProof}</p>\n</td></tr>\n</table>\n</td>\n</tr>\n\n<tr>\n<td style=\"padding:0 28px 32px;\">\n<p style=\"margin:0 0 8px;color:#888;font-size:13px;\">Questions? Call or text us at <a href=\"tel:5015515944\" style=\"color:#AF3D4B;\">(501) 551-5944</a></p>\n<p style=\"margin:0;color:#888;font-size:13px;\">Minimum 10 guests \u00b7 3 days advance notice for full catering</p>\n</td>\n</tr>\n`)\n};\n\nconst results = [];\nfor (const item of $input.all()) {\n  const c = item.json;\n  if (c.email && !c.unsubscribed_email) {\n    results.push({\n      json: {\n        contact_id: c.id,\n        channel: 'email',\n        to: c.email,\n        subject: template.email_subject,\n        body: template.email_body.replace(/%%EMAIL%%/g, encodeURIComponent(c.email)),\n        campaign_day: day\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "id": "code-tuesday",
      "name": "Tuesday \u2014 Catering",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// WEDNESDAY \u2014 Meal Prep Deadline (Closes at Noon)\n// Focus: Urgency \u2014 last chance to order this week's meal prep\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst day = $input.first().json.campaign_day;\nconst baseURL = \"https://order.theutopiadeli.com\";\n\n// MEAL PREP SCHEDULE (Online Orders Only)\n// - Closes: Every Wednesday 12:00 PM\n// - Reopens: Every Thursday 8:00 PM\n// - Pickup: Thursday 12:30 PM \u2013 7:30 PM\n//\n// WALK-UP HOURS (Regular Deli)\n// - Monday \u2013 Saturday: 12:30 PM \u2013 7:30 PM\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// SWAP ZONE: Meal Prep Menu (Update Weekly)\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nconst thisWeekMenu = {\n  // MEAL PREP SECTION (Top \u2014 this week's bowls)\n  bowls: [\n    { name: \"Smokey Taco Bowl\", desc: \"Black beans, corn, jackfruit, chipotle crema\", image: \"https://order.theutopiadeli.com/images/mealprep-smokey-taco.jpg\" },\n    { name: \"Chili Garlic Noodles\", desc: \"Rice noodles, chili crisp, garlic, sesame\", image: \"https://order.theutopiadeli.com/images/mealprep-chili-noodles.jpg\" },\n    { name: \"Peanut Ginger Bowl\", desc: \"Crispy peanut tofu, sesame cabbage slaw, sweet chili drizzle\", image: \"https://order.theutopiadeli.com/images/mealprep-peanut-tofu.jpg\" },\n    { name: \"Mediterranean Harvest\", desc: \"Quinoa, roasted veg, falafel, tahini\", image: \"https://order.theutopiadeli.com/catering/images/meal-mediterranean-harvest.jpg\" },\n    { name: \"Thai Peanut Crunch\", desc: \"Jasmine rice, peanut tofu, sesame slaw\", image: \"https://order.theutopiadeli.com/catering/images/meal-thai-peanut-crunch.jpg\" },\n    { name: \"Eggplant Parmesan\", desc: \"Parmesan crusted eggplant, marinara, fresh basil\", image: \"https://order.theutopiadeli.com/catering/images/meal-eggplant-parm.jpg\" }\n  ],\n  dessert: { name: \"Raspberry Dark Chocolate Mousse\", desc: \"Rich dark chocolate, sugar free \u2014 340 cal\", image: \"https://order.theutopiadeli.com/catering/images/dessert-raspberry-mousse.jpg\" },\n  juice: { name: \"Cold-Pressed Juice\", desc: \"Fresh 10oz pineapple, apple, lemon\", image: \"https://order.theutopiadeli.com/images/cold_pressed_juice_v2.jpg\" },\n  \n  // REGULAR DELI SECTION (Bottom \u2014 walk-up items)\n  deliHeadline: \"Or Walk Up Today \ud83c\udf7d\ufe0f\",\n  deliSubheadline: \"We're open 12:30 PM \u2013 7:30 PM\",\n  deliItems: [\n    { name: \"Stek Philly\", desc: \"Thin-cut steak, peppers, onions, hoagie roll\", image: \"https://order.theutopiadeli.com/images/menu/stek%20Philly.jpg\", link: `${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=wednesday` },\n    { name: \"Chick'n Poppers\", desc: \"Crispy dippers \u2014 5 sauces to choose from\", image: \"https://order.theutopiadeli.com/images/menu/chicken_poppers_v3.jpg\", link: `${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=wednesday` },\n    { name: \"Loaded Bac'n Fry\", desc: \"Crinkle-cut fries loaded with bac'n, cheeze sauce\", image: \"https://order.theutopiadeli.com/images/menu/loaded_bacon_fry.jpg\", link: `${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=wednesday` }\n  ]\n};\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// END SWAP ZONE\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst images = {\n  logo: 'https://order.theutopiadeli.com/images/logo.png'\n};\n\nconst buildHeader = () => `<tr>\n<td style=\"background:#590B3F;padding:20px 24px;\">\n <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n <tr>\n <td style=\"vertical-align:middle;\">\n <img src=\"${images.logo}\" alt=\"The Utopia Deli\" style=\"height:56px;display:block;\">\n </td>\n <td style=\"vertical-align:middle;padding-left:16px;\">\n <p style=\"margin:0;color:#fff;font-family:'Georgia','Times New Roman',serif;font-size:24px;font-weight:bold;letter-spacing:0.5px;\">\n The Utopia Deli\n </p>\n </td>\n </tr>\n </table>\n</td>\n</tr>\n`;\n\nconst buildFooter = () => `<tr>\n<td style=\"padding:20px;background:#f8f6f4;font-family:'Georgia','Times New Roman',serif;text-align:center;border-top:1px solid #e5e5e5;\">\n<p style=\"margin:0 0 6px;font-size:13px;color:#888;\">\nThe Utopia Deli \u00b7 801 S Chester St \u00b7 Little Rock, AR 72202\n</p>\n<p style=\"margin:0;font-size:12px;\">\n<a href=\"https://n8n.systack.net/webhook/unsubscribe?email=%%EMAIL%%&channel=email\" style=\"color:#AF3D4B;text-decoration:underline;\">Unsubscribe from emails</a>\n</p>\n</td>\n</tr>\n`;\n\nconst wrapEmail = (content) => `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<style>\n@media only screen and (max-width: 600px) {\n .container { width: 100% !important; }\n .hero-img { height: 280px !important; }\n .bowl-grid { display: block !important; }\n .bowl-card { width: 100% !important; margin-bottom: 12px !important; }\n .addon-row { display: block !important; }\n .addon-card { width: 100% !important; margin-bottom: 12px !important; }\n}\n</style>\n</head>\n<body style=\"margin:0;padding:0;background:#f8f6f4;font-family:'Georgia','Times New Roman',serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n<tr><td align=\"center\" style=\"padding:24px 12px;\">\n<table class=\"container\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border-radius:16px;overflow:hidden;max-width:600px;width:100%;\">\n${buildHeader()}\n${content}\n${buildFooter()}\n</table>\n</td></tr>\n</table>\n</body>\n</html>\n`;\n\nconst buildBowlGrid = () => {\n  const cards = thisWeekMenu.bowls.map(bowl => `\n<div class=\"bowl-card\" style=\"flex:1;min-width:160px;background:#f8f6f4;border-radius:12px;overflow:hidden;\">\n<img src=\"${bowl.image}\" style=\"width:100%;height:120px;object-fit:cover;display:block;\">\n<div style=\"padding:12px;\">\n<p style=\"margin:0 0 4px;color:#590B3F;font-weight:bold;font-size:14px;\">${bowl.name}</p>\n<p style=\"margin:0;color:#888;font-size:12px;\">${bowl.desc}</p>\n</div>\n</div>\n`).join('');\n\n  return `<tr>\n<td style=\"padding:0 28px 16px;\">\n<h2 style=\"margin:0 0 16px;color:#590B3F;font-size:20px;\">This Week's Bowls</h2>\n<div class=\"bowl-grid\" style=\"display:flex;gap:12px;flex-wrap:wrap;\">\n${cards}\n</div>\n</td>\n</tr>`;\n};\n\nconst buildAddons = () => {\n  return `<tr>\n<td style=\"padding:0 28px 24px;\">\n<h3 style=\"margin:0 0 12px;color:#590B3F;font-size:16px;\">Don't Forget Add-Ons</h3>\n<div class=\"addon-row\" style=\"display:flex;gap:12px;\">\n<div class=\"addon-card\" style=\"flex:1;background:#f8f6f4;border-radius:12px;overflow:hidden;\">\n<img src=\"${thisWeekMenu.dessert.image}\" style=\"width:100%;height:100px;object-fit:cover;display:block;\">\n<div style=\"padding:12px;\">\n<p style=\"margin:0 0 4px;color:#590B3F;font-weight:bold;font-size:14px;\">${thisWeekMenu.dessert.name}</p>\n<p style=\"margin:0;color:#888;font-size:12px;\">${thisWeekMenu.dessert.desc}</p>\n</div>\n</div>\n<div class=\"addon-card\" style=\"flex:1;background:#f8f6f4;border-radius:12px;overflow:hidden;\">\n<img src=\"${thisWeekMenu.juice.image}\" style=\"width:100%;height:100px;object-fit:cover;display:block;\">\n<div style=\"padding:12px;\">\n<p style=\"margin:0 0 4px;color:#590B3F;font-weight:bold;font-size:14px;\">${thisWeekMenu.juice.name}</p>\n<p style=\"margin:0;color:#888;font-size:12px;\">${thisWeekMenu.juice.desc}</p>\n</div>\n</div>\n</div>\n</td>\n</tr>`;\n};\n\nconst buildDeliSection = () => {\n  const cards = thisWeekMenu.deliItems.map(item => `\n<div class=\"deli-card\" style=\"flex:1;min-width:160px;background:#f8f6f4;border-radius:12px;overflow:hidden;\">\n<a href=\"${item.link}\" style=\"text-decoration:none;color:inherit;\">\n<img src=\"${item.image}\" style=\"width:100%;height:130px;object-fit:cover;display:block;\">\n<div style=\"padding:12px;\">\n<p style=\"margin:0 0 4px;color:#590B3F;font-weight:bold;font-size:14px;\">${item.name}</p>\n<p style=\"margin:0;color:#888;font-size:12px;\">${item.desc}</p>\n</div>\n</a>\n</div>\n`).join('');\n\n  return `<tr>\n<td style=\"padding:0 28px 24px;\">\n<div style=\"border-top:2px dashed #e5e5e5;padding-top:24px;margin-bottom:24px;\"></div>\n<p style=\"margin:0 0 8px;color:#AF3D4B;font-size:14px;font-weight:bold;letter-spacing:0.5px;\">REGULAR DELI</p>\n<h2 style=\"margin:0 0 12px;color:#590B3F;font-size:24px;line-height:1.2;\">${thisWeekMenu.deliHeadline}</h2>\n<p style=\"margin:0 0 20px;color:#666;font-size:16px;line-height:1.5;\">${thisWeekMenu.deliSubheadline}</p>\n<div class=\"deli-grid\" style=\"display:flex;gap:16px;flex-wrap:wrap;\">\n${cards}\n</div>\n</td>\n</tr>`;\n};\n\nconst template = {\n  email_subject: \"\u23f0 Closes at Noon Today \u2014 Don't Miss This Week's Bowls\",\n  email_body: wrapEmail(`\n<tr>\n<td>\n<img src=\"${thisWeekMenu.bowls[0].image}\" alt=\"This Week's Meal Prep\" class=\"hero-img\" style=\"width:100%;height:300px;object-fit:cover;display:block;\">\n</td>\n</tr>\n\n<tr>\n<td style=\"padding:32px 28px 20px;text-align:center;\">\n<p style=\"margin:0 0 8px;color:#AF3D4B;font-size:14px;font-weight:bold;letter-spacing:0.5px;\">FINAL HOURS</p>\n<h1 style=\"margin:0 0 16px;color:#AF3D4B;font-size:28px;line-height:1.2;\">Orders Close Today at 12:00 PM \u23f0</h1>\n<p style=\"margin:0 0 20px;color:#333;font-size:16px;line-height:1.6;\">\nThis is your last chance to grab this week's fresh meal prep bowls. We cook Thursday morning, you pick up Thursday afternoon.\n</p>\n<p style=\"margin:0 0 24px;color:#333;font-size:15px;\">\n<strong>Pickup Thursday \u00b7 12:30 PM \u2013 7:30 PM</strong>\n</p>\n<a href=\"${baseURL}/catering/?utm_source=email&utm_medium=campaign&utm_campaign=wednesday\"\nstyle=\"display:inline-block;background:#AF3D4B;color:#fff;padding:14px 32px;border-radius:10px;text-decoration:none;font-size:16px;font-weight:bold;\">\nOrder Before Noon\n</a>\n</td>\n</tr>\n\n${buildBowlGrid()}\n\n${buildAddons()}\n\n${buildDeliSection()}\n\n<tr>\n<td style=\"padding:0 28px 24px;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#590B3F;border-radius:12px;padding:20px;\">\n<tr><td style=\"text-align:center;\">\n<p style=\"margin:0 0 8px;color:#fff;font-size:16px;font-weight:bold;\">\u23f0 Deadline: 12:00 PM Today</p>\n<p style=\"margin:0;color:#fff;font-size:14px;opacity:0.9;\">Orders reopen Thursday at 8:00 PM for next week</p>\n</td></tr>\n</table>\n</td>\n</tr>\n\n<tr>\n<td style=\"padding:0 28px 32px;\">\n<p style=\"margin:0;color:#888;font-size:13px;text-align:center;\">\nQuestions? Call or text <a href=\"tel:5015515944\" style=\"color:#AF3D4B;\">(501) 551-5944</a>\n</p>\n</td>\n</tr>\n`)\n};\n\nconst results = [];\nfor (const item of $input.all()) {\n  const c = item.json;\n  if (c.email && !c.unsubscribed_email) {\n    results.push({\n      json: {\n        contact_id: c.id,\n        channel: 'email',\n        to: c.email,\n        subject: template.email_subject,\n        body: template.email_body.replace(/%%EMAIL%%/g, encodeURIComponent(c.email)),\n        campaign_day: day\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "id": "code-wednesday",
      "name": "Wednesday \u2014 Meal Prep Close",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// THURSDAY \u2014 Meal Prep Reopens + Regular Deli\n// Focus: \"We're back!\" \u2014 meal prep orders open + daily menu highlights\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst day = $input.first().json.campaign_day;\nconst baseURL = \"https://order.theutopiadeli.com\";\n\n// MEAL PREP SCHEDULE (Online Orders Only)\n// - Closes: Every Wednesday 12:00 PM\n// - Reopens: Every Thursday 8:00 PM\n// - Pickup: Thursday 12:30 PM \u2013 7:30 PM\n//\n// WALK-UP HOURS (Regular Deli)\n// - Monday \u2013 Saturday: 12:30 PM \u2013 7:30 PM\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// SWAP ZONE: Thursday Content (Update Weekly)\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nconst thursdayContent = {\n  // Next week's bowl lineup (the one now open for ordering)\n  nextWeekBowls: [\n    { name: \"Street Corn Taco\", desc: \"Cilantro lime rice, chipotle lentil crumble, roasted corn, pickled onions\", image: \"https://order.theutopiadeli.com/catering/images/meal-buffalo-chickpea.jpg\" },\n    { name: \"Nashville Hot Lentil\", desc: \"Garlic rice, hot lentils, roasted broccoli, ranch drizzle\", image: \"https://order.theutopiadeli.com/catering/images/meal-cajun-northern-beans.jpg\" },\n    { name: \"Mediterranean Harvest\", desc: \"Lemon herb quinoa, crispy chickpeas, cucumber salad, hummus\", image: \"https://order.theutopiadeli.com/catering/images/meal-mediterranean-harvest.jpg\" }\n  ],\n  // Thursday daily specials (walk-up items, changes daily)\n  dailySpecials: [\n    { name: \"Stek Philly\", desc: \"Thin-cut steak, peppers, onions, hoagie roll\", image: \"https://order.theutopiadeli.com/images/menu/stek%20Philly.jpg\" },\n    { name: \"Loaded Bac'n Fry\", desc: \"Crinkle-cut fries loaded with bac'n, cheeze sauce\", image: \"https://order.theutopiadeli.com/images/menu/loaded_bacon_fry.jpg\" },\n    { name: \"Chick'n Poppers\", desc: \"Crispy dippers \u2014 BBQ, Garlic Parm, Jerk, Buffalo\", image: \"https://order.theutopiadeli.com/images/menu/chicken_poppers_v3.jpg\" }\n  ],\n  // Optional: Thursday-only promo\n  promo: {\n    text: \"Walk up today \u00b7 Open 12:30 PM \u2013 7:30 PM\",\n    link: `${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=thursday`\n  }\n};\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// END SWAP ZONE\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst images = {\n  logo: 'https://order.theutopiadeli.com/images/logo.png'\n};\n\nconst buildHeader = () => `<tr>\n<td style=\"background:#590B3F;padding:20px 24px;\">\n <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n <tr>\n <td style=\"vertical-align:middle;\">\n <img src=\"${images.logo}\" alt=\"The Utopia Deli\" style=\"height:56px;display:block;\">\n </td>\n <td style=\"vertical-align:middle;padding-left:16px;\">\n <p style=\"margin:0;color:#fff;font-family:'Georgia','Times New Roman',serif;font-size:24px;font-weight:bold;letter-spacing:0.5px;\">\n The Utopia Deli\n </p>\n </td>\n </tr>\n </table>\n</td>\n</tr>\n`;\n\nconst buildFooter = () => `<tr>\n<td style=\"padding:20px;background:#f8f6f4;font-family:'Georgia','Times New Roman',serif;text-align:center;border-top:1px solid #e5e5e5;\">\n<p style=\"margin:0 0 6px;font-size:13px;color:#888;\">\nThe Utopia Deli \u00b7 801 S Chester St \u00b7 Little Rock, AR 72202\n</p>\n<p style=\"margin:0;font-size:12px;\">\n<a href=\"https://n8n.systack.net/webhook/unsubscribe?email=%%EMAIL%%&channel=email\" style=\"color:#AF3D4B;text-decoration:underline;\">Unsubscribe from emails</a>\n</p>\n</td>\n</tr>\n`;\n\nconst wrapEmail = (content) => `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<style>\n@media only screen and (max-width: 600px) {\n .container { width: 100% !important; }\n .hero-img { height: 280px !important; }\n .bowl-grid { display: block !important; }\n .bowl-card { width: 100% !important; margin-bottom: 12px !important; }\n .daily-grid { display: block !important; }\n .daily-card { width: 100% !important; margin-bottom: 12px !important; }\n}\n</style>\n</head>\n<body style=\"margin:0;padding:0;background:#f8f6f4;font-family:'Georgia','Times New Roman',serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n<tr><td align=\"center\" style=\"padding:24px 12px;\">\n<table class=\"container\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border-radius:16px;overflow:hidden;max-width:600px;width:100%;\">\n${buildHeader()}\n${content}\n${buildFooter()}\n</table>\n</td></tr>\n</table>\n</body>\n</html>\n`;\n\nconst buildBowlPreview = () => {\n  const cards = thursdayContent.nextWeekBowls.map(bowl => `\n<div class=\"bowl-card\" style=\"flex:1;min-width:160px;background:#f8f6f4;border-radius:12px;overflow:hidden;\">\n<img src=\"${bowl.image}\" style=\"width:100%;height:120px;object-fit:cover;display:block;\">\n<div style=\"padding:12px;\">\n<p style=\"margin:0 0 4px;color:#590B3F;font-weight:bold;font-size:14px;\">${bowl.name}</p>\n<p style=\"margin:0;color:#888;font-size:12px;\">${bowl.desc}</p>\n</div>\n</div>\n`).join('');\n\n  return `<tr>\n<td style=\"padding:0 28px 20px;\">\n<h2 style=\"margin:0 0 16px;color:#590B3F;font-size:20px;\">Next Week's Bowls (Now Open)</h2>\n<div class=\"bowl-grid\" style=\"display:flex;gap:12px;flex-wrap:wrap;\">\n${cards}\n</div>\n<p style=\"margin:12px 0 0;color:#888;font-size:13px;\">Plus 3 more bowls + dessert + juice add-ons</p>\n</td>\n</tr>`;\n};\n\nconst buildDailySpecials = () => {\n  const cards = thursdayContent.dailySpecials.map(item => `\n<div class=\"daily-card\" style=\"flex:1;min-width:160px;background:#f8f6f4;border-radius:12px;overflow:hidden;\">\n<img src=\"${item.image}\" style=\"width:100%;height:120px;object-fit:cover;display:block;\">\n<div style=\"padding:12px;\">\n<p style=\"margin:0 0 4px;color:#590B3F;font-weight:bold;font-size:14px;\">${item.name}</p>\n<p style=\"margin:0;color:#888;font-size:12px;\">${item.desc}</p>\n</div>\n</div>\n`).join('');\n\n  return `<tr>\n<td style=\"padding:0 28px 24px;\">\n<h2 style=\"margin:0 0 16px;color:#590B3F;font-size:20px;\">Walk Up Today \u2014 We're Open</h2>\n<div class=\"daily-grid\" style=\"display:flex;gap:12px;flex-wrap:wrap;\">\n${cards}\n</div>\n</td>\n</tr>`;\n};\n\nconst template = {\n  email_subject: \"\ud83c\udf71 We're Back! Meal Prep Orders Now Open + Walk-Up Menu\",\n  email_body: wrapEmail(`\n<!-- MEAL PREP SECTION -->\n<tr>\n<td style=\"background:linear-gradient(135deg,#590B3F 0%,#8B1A4E 100%);padding:40px 28px;text-align:center;\">\n<p style=\"margin:0 0 8px;color:#FFD700;font-size:14px;font-weight:bold;letter-spacing:1px;\">\u2728 MEAL PREP NOW OPEN \u2728</p>\n<h1 style=\"margin:0 0 12px;color:#fff;font-size:28px;line-height:1.2;\">Next Week's Bowls Are Live!</h1>\n<p style=\"margin:0;color:#fff;opacity:0.9;font-size:16px;line-height:1.5;\">Order now for pickup next Thursday.</p>\n<p style=\"margin:16px 0 0;color:#FFD700;font-size:15px;font-weight:bold;\">Closes Wednesday at 12:00 PM \u00b7 Reopens Thursday 8:00 PM</p>\n</td>\n</tr>\n\n${buildBowlPreview()}\n\n<tr>\n<td style=\"padding:0 28px 24px;text-align:center;\">\n<a href=\"${baseURL}/catering/?utm_source=email&utm_medium=campaign&utm_campaign=thursday\"\nstyle=\"display:inline-block;background:#AF3D4B;color:#fff;padding:14px 32px;border-radius:10px;text-decoration:none;font-size:16px;font-weight:bold;\">\nOrder Meal Prep \u2192\n</a>\n</td>\n</tr>\n\n<!-- REGULAR DELI SECTION -->\n<tr>\n<td style=\"padding:0 28px;\">\n<div style=\"border-top:2px dashed #e5e5e5;\"></div>\n<p style=\"margin:24px 0 8px;color:#AF3D4B;font-size:14px;font-weight:bold;letter-spacing:0.5px;\">REGULAR DELI</p>\n<h2 style=\"margin:0 0 16px;color:#590B3F;font-size:24px;\">Walk Up Today \ud83c\udf7d\ufe0f</h2>\n<p style=\"margin:0 0 20px;color:#666;font-size:16px;\">We're open 12:30 PM \u2013 7:30 PM. Come grab lunch or dinner.</p>\n</td>\n</tr>\n\n${buildDailySpecials()}\n\n<tr>\n<td style=\"padding:0 28px 32px;text-align:center;\">\n<a href=\"${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=thursday\"\nstyle=\"display:inline-block;background:transparent;color:#AF3D4B;padding:14px 32px;border-radius:10px;text-decoration:none;font-size:16px;font-weight:bold;border:2px solid #AF3D4B;\">\nFull Walk-Up Menu \u2192\n</a>\n</td>\n</tr>\n`)\n};\n\nconst results = [];\nfor (const item of $input.all()) {\n  const c = item.json;\n  if (c.email && !c.unsubscribed_email) {\n    results.push({\n      json: {\n        contact_id: c.id,\n        channel: 'email',\n        to: c.email,\n        subject: template.email_subject,\n        body: template.email_body.replace(/%%EMAIL%%/g, encodeURIComponent(c.email)),\n        campaign_day: day\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "id": "code-thursday",
      "name": "Thursday \u2014 Reopen + Deli",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// FRIDAY \u2014 Weekend Kickoff\n// Focus: Weekend energy, walk-ups, atmosphere, lifestyle\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst day = $input.first().json.campaign_day;\nconst baseURL = \"https://order.theutopiadeli.com\";\n\n// MEAL PREP SCHEDULE (Online Orders Only)\n// - Closes: Every Wednesday 12:00 PM\n// - Reopens: Every Thursday 8:00 PM\n// - Pickup: Thursday 12:30 PM \u2013 7:30 PM\n//\n// WALK-UP HOURS (Regular Deli)\n// - Monday \u2013 Saturday: 12:30 PM \u2013 7:30 PM\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// SWAP ZONE: Weekend Content (Update Weekly)\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nconst weekendContent = {\n  // Hero: lifestyle/vibe image\n  heroImage: \"https://order.theutopiadeli.com/images/Deli%20Happy%20customer%20lady.jpg\",\n  // Weekend headline (rotate themes)\n  headline: \"Weekend at Utopia \ud83c\udf7d\ufe0f\",\n  subheadline: \"Monday \u2013 Saturday \u00b7 12:30PM\u20137:30PM \u00b7 Walk-ups welcome\",\n  // Body copy (fun, casual, vibe-forward)\n  body: \"It's finally here. The weekend. And we've got the food to match the mood. Walk up, order fresh, eat happy. No reservations needed \u2014 just bring your appetite.\",\n  // Featured weekend items\n  features: [\n    {\n      name: \"Stek Philly\",\n      desc: \"Thin-cut steak, peppers, onions, hoagie roll\",\n      image: \"https://order.theutopiadeli.com/images/menu/stek%20Philly.jpg\",\n      tag: \"BESTSELLER\"\n    },\n    {\n      name: \"Chick'n Poppers\",\n      desc: \"Crispy dippers \u2014 5 sauces to choose from\",\n      image: \"https://order.theutopiadeli.com/images/menu/chicken_poppers_v3.jpg\",\n      tag: \"SHAREABLE\"\n    },\n    {\n      name: \"Loaded Bac'n Fry\",\n      desc: \"Crinkle-cut fries loaded with bac'n, cheeze sauce\",\n      image: \"https://order.theutopiadeli.com/images/menu/loaded_bacon_fry.jpg\",\n      tag: \"CLASSIC\"\n    },\n    {\n      name: \"Chocolate Chip Cookies\",\n      desc: \"Two fresh-baked cookies, warm from the oven\",\n      image: \"https://order.theutopiadeli.com/images/menu/cookies_v2.jpg\",\n      tag: \"SWEET\"\n    }\n  ],\n  // Weekend-only special (optional, leave null if none)\n  weekendSpecial: {\n    text: \"Weekend Combo: Any sandwich + side + drink for $18\",\n    active: false // Set to true when running a promo\n  },\n  // CTA\n  ctaText: \"Order Ahead \u2014 Skip the Line\",\n  ctaLink: `${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=friday`\n};\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// END SWAP ZONE\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst images = {\n  logo: 'https://order.theutopiadeli.com/images/logo.png'\n};\n\nconst buildHeader = () => `<tr>\n<td style=\"background:#590B3F;padding:20px 24px;\">\n <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n <tr>\n <td style=\"vertical-align:middle;\">\n <img src=\"${images.logo}\" alt=\"The Utopia Deli\" style=\"height:56px;display:block;\">\n </td>\n <td style=\"vertical-align:middle;padding-left:16px;\">\n <p style=\"margin:0;color:#fff;font-family:'Georgia','Times New Roman',serif;font-size:24px;font-weight:bold;letter-spacing:0.5px;\">\n The Utopia Deli\n </p>\n </td>\n </tr>\n </table>\n</td>\n</tr>\n`;\n\nconst buildFooter = () => `<tr>\n<td style=\"padding:20px;background:#f8f6f4;font-family:'Georgia','Times New Roman',serif;text-align:center;border-top:1px solid #e5e5e5;\">\n<p style=\"margin:0 0 6px;font-size:13px;color:#888;\">\nThe Utopia Deli \u00b7 801 S Chester St \u00b7 Little Rock, AR 72202\n</p>\n<p style=\"margin:0;font-size:12px;\">\n<a href=\"https://n8n.systack.net/webhook/unsubscribe?email=%%EMAIL%%&channel=email\" style=\"color:#AF3D4B;text-decoration:underline;\">Unsubscribe from emails</a>\n</p>\n</td>\n</tr>\n`;\n\nconst wrapEmail = (content) => `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<style>\n@media only screen and (max-width: 600px) {\n .container { width: 100% !important; }\n .hero-bg { height: 300px !important; }\n .feature-grid { display: block !important; }\n .feature-card { width: 100% !important; margin-bottom: 16px !important; }\n}\n</style>\n</head>\n<body style=\"margin:0;padding:0;background:#f8f6f4;font-family:'Georgia','Times New Roman',serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n<tr><td align=\"center\" style=\"padding:24px 12px;\">\n<table class=\"container\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border-radius:16px;overflow:hidden;max-width:600px;width:100%;\">\n${buildHeader()}\n${content}\n${buildFooter()}\n</table>\n</td></tr>\n</table>\n</body>\n</html>\n`;\n\nconst buildFeatures = () => {\n  const cards = weekendContent.features.map(item => `\n<div class=\"feature-card\" style=\"flex:1;min-width:160px;background:#f8f6f4;border-radius:12px;overflow:hidden;\">\n<div style=\"position:relative;\">\n<img src=\"${item.image}\" style=\"width:100%;height:140px;object-fit:cover;display:block;\">\n<div style=\"position:absolute;top:8px;left:8px;background:#AF3D4B;color:#fff;padding:4px 10px;border-radius:6px;font-size:11px;font-weight:bold;\">${item.tag}</div>\n</div>\n<div style=\"padding:12px;\">\n<p style=\"margin:0 0 4px;color:#590B3F;font-weight:bold;font-size:14px;\">${item.name}</p>\n<p style=\"margin:0;color:#888;font-size:12px;\">${item.desc}</p>\n</div>\n</div>\n`).join('');\n\n  return `<tr>\n<td style=\"padding:0 28px 24px;\">\n<h2 style=\"margin:0 0 16px;color:#590B3F;font-size:20px;\">Weekend Favorites</h2>\n<div class=\"feature-grid\" style=\"display:flex;gap:16px;flex-wrap:wrap;\">\n${cards}\n</div>\n</td>\n</tr>`;\n};\n\nconst template = {\n  email_subject: `${weekendContent.headline} Fresh Food, Good Vibes`,\n  email_body: wrapEmail(`\n<tr>\n<td\n height=\"320\"\n style=\"\n background-image:url(${weekendContent.heroImage});\n background-size:cover;\n background-position:center 30%;\n background-repeat:no-repeat;\n \"\n class=\"hero-bg\"\n>\n &nbsp;\n</td>\n</tr>\n\n<tr>\n<td style=\"padding:32px 28px 20px;\">\n<h1 style=\"margin:0 0 12px;color:#590B3F;font-size:28px;line-height:1.2;\">${weekendContent.headline}</h1>\n<p style=\"margin:0 0 20px;color:#333;font-size:16px;line-height:1.6;\">${weekendContent.body}</p>\n<p style=\"margin:0 0 24px;color:#AF3D4B;font-size:15px;font-weight:bold;\">${weekendContent.subheadline}</p>\n${weekendContent.weekendSpecial.active ? `<div style=\"background:#FFD700;border-radius:10px;padding:16px;margin:0 0 24px;text-align:center;\">\n<p style=\"margin:0;color:#590B3F;font-size:16px;font-weight:bold;\">\u26a1 WEEKEND SPECIAL \u26a1</p>\n<p style=\"margin:4px 0 0;color:#590B3F;font-size:15px;\">${weekendContent.weekendSpecial.text}</p>\n</div>` : ''}\n<div style=\"text-align:center;\">\n<a href=\"${weekendContent.ctaLink}\"\nstyle=\"display:inline-block;background:#AF3D4B;color:#fff;padding:14px 32px;border-radius:10px;text-decoration:none;font-size:16px;font-weight:bold;margin-right:8px;\">\n${weekendContent.ctaText}\n</a>\n<a href=\"${baseURL}/catering/?utm_source=email&utm_medium=campaign&utm_campaign=friday\"\nstyle=\"display:inline-block;background:transparent;color:#AF3D4B;padding:14px 32px;border-radius:10px;text-decoration:none;font-size:16px;font-weight:bold;border:2px solid #AF3D4B;\">\nOrder Meal Prep\n</a>\n</div>\n</td>\n</tr>\n\n${buildFeatures()}\n\n<tr>\n<td style=\"padding:0 28px 24px;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#590B3F;border-radius:12px;padding:20px;\">\n<tr><td style=\"text-align:center;\">\n<p style=\"margin:0 0 4px;color:#fff;font-size:16px;font-weight:bold;\">The Utopia Deli</p>\n<p style=\"margin:0 0 4px;color:#fff;font-size:14px;\">801 S Chester St, Little Rock, AR 72202</p>\n<p style=\"margin:0;color:#fff;font-size:13px;opacity:0.8;\">Monday \u2013 Saturday \u00b7 12:30PM\u20137:30PM</p>\n</td></tr>\n</table>\n</td>\n</tr>\n`)\n};\n\nconst results = [];\nfor (const item of $input.all()) {\n  const c = item.json;\n  if (c.email && !c.unsubscribed_email) {\n    results.push({\n      json: {\n        contact_id: c.id,\n        channel: 'email',\n        to: c.email,\n        subject: template.email_subject,\n        body: template.email_body.replace(/%%EMAIL%%/g, encodeURIComponent(c.email)),\n        campaign_day: day\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "id": "code-friday",
      "name": "Friday \u2014 Weekend Kickoff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// SATURDAY \u2014 Weekend Reminder\n// Focus: \"We're open today!\" \u2014 lighter touch, drive walk-ups\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst day = $input.first().json.campaign_day;\nconst baseURL = \"https://order.theutopiadeli.com\";\n\n// MEAL PREP SCHEDULE (Online Orders Only)\n// - Closes: Every Wednesday 12:00 PM\n// - Reopens: Every Thursday 8:00 PM\n// - Pickup: Thursday 12:30 PM \u2013 7:30 PM\n//\n// WALK-UP HOURS (Regular Deli)\n// - Monday \u2013 Saturday: 12:30 PM \u2013 7:30 PM\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// SWAP ZONE: Saturday Content (Update Weekly)\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nconst saturdayContent = {\n  // Saturday headline (keep it short, punchy)\n  headline: \"We're Open Saturday \ud83d\ude4c\",\n  subheadline: \"Today 12:30PM\u20137:30PM \u00b7 Walk-ups welcome\",\n  // Optional: Today's feature or special\n  todayFeature: {\n    name: \"Stek Philly\",\n    desc: \"Our #1 seller \u2014 thin-cut steak, grilled peppers & onions, hoagie roll\",\n    image: \"https://order.theutopiadeli.com/images/menu/stek%20Philly.jpg\",\n    cta: \"Order Ahead \u2192\"\n  },\n  // Quick menu highlights (3 items, no descriptions)\n  quickMenu: [\n    { name: \"Chick'n Poppers\", image: \"https://order.theutopiadeli.com/images/menu/chicken_poppers_v3.jpg\" },\n    { name: \"Loaded Fries\", image: \"https://order.theutopiadeli.com/images/menu/loaded_bacon_fry.jpg\" },\n    { name: \"Cold-Pressed Juice\", image: \"https://order.theutopiadeli.com/images/cold_pressed_juice_v2.jpg\" }\n  ],\n  // Optional weekend special (same as Friday, or different)\n  weekendSpecial: null, // Set to { text: \"...\" } if active\n  // Meal prep reminder (subtle)\n  mealPrepReminder: true // Show \"orders close Wednesday\" note\n};\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// END SWAP ZONE\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst images = {\n  logo: 'https://order.theutopiadeli.com/images/logo.png'\n};\n\nconst buildHeader = () => `<tr>\n<td style=\"background:#590B3F;padding:20px 24px;\">\n <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n <tr>\n <td style=\"vertical-align:middle;\">\n <img src=\"${images.logo}\" alt=\"The Utopia Deli\" style=\"height:56px;display:block;\">\n </td>\n <td style=\"vertical-align:middle;padding-left:16px;\">\n <p style=\"margin:0;color:#fff;font-family:'Georgia','Times New Roman',serif;font-size:24px;font-weight:bold;letter-spacing:0.5px;\">\n The Utopia Deli\n </p>\n </td>\n </tr>\n </table>\n</td>\n</tr>\n`;\n\nconst buildFooter = () => `<tr>\n<td style=\"padding:20px;background:#f8f6f4;font-family:'Georgia','Times New Roman',serif;text-align:center;border-top:1px solid #e5e5e5;\">\n<p style=\"margin:0 0 6px;font-size:13px;color:#888;\">\nThe Utopia Deli \u00b7 801 S Chester St \u00b7 Little Rock, AR 72202\n</p>\n<p style=\"margin:0;font-size:12px;\">\n<a href=\"https://n8n.systack.net/webhook/unsubscribe?email=%%EMAIL%%&channel=email\" style=\"color:#AF3D4B;text-decoration:underline;\">Unsubscribe from emails</a>\n</p>\n</td>\n</tr>\n`;\n\nconst wrapEmail = (content) => `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<style>\n@media only screen and (max-width: 600px) {\n .container { width: 100% !important; }\n .quick-grid { display: block !important; }\n .quick-card { width: 100% !important; margin-bottom: 12px !important; }\n}\n</style>\n</head>\n<body style=\"margin:0;padding:0;background:#f8f6f4;font-family:'Georgia','Times New Roman',serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n<tr><td align=\"center\" style=\"padding:24px 12px;\">\n<table class=\"container\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border-radius:16px;overflow:hidden;max-width:600px;width:100%;\">\n${buildHeader()}\n${content}\n${buildFooter()}\n</table>\n</td></tr>\n</table>\n</body>\n</html>\n`;\n\nconst buildQuickMenu = () => {\n  const cards = saturdayContent.quickMenu.map(item => `\n<div class=\"quick-card\" style=\"flex:1;min-width:160px;background:#f8f6f4;border-radius:12px;overflow:hidden;text-align:center;\">\n<img src=\"${item.image}\" style=\"width:100%;height:120px;object-fit:cover;display:block;\">\n<div style=\"padding:12px;\">\n<p style=\"margin:0;color:#590B3F;font-weight:bold;font-size:14px;\">${item.name}</p>\n</div>\n</div>\n`).join('');\n\n  return `<tr>\n<td style=\"padding:0 28px 24px;\">\n<h2 style=\"margin:0 0 16px;color:#590B3F;font-size:18px;\">What's Cooking Today</h2>\n<div class=\"quick-grid\" style=\"display:flex;gap:12px;\">\n${cards}\n</div>\n</td>\n</tr>`;\n};\n\nconst template = {\n  email_subject: \"\ud83d\ude4c We're Open Today! Saturday at Utopia\",\n  email_body: wrapEmail(`\n<tr>\n<td style=\"background:linear-gradient(135deg,#590B3F 0%,#8B1A4E 100%);padding:40px 28px;text-align:center;\">\n<p style=\"margin:0 0 8px;color:#FFD700;font-size:14px;font-weight:bold;letter-spacing:1px;\">\ud83c\udf7d\ufe0f OPEN TODAY</p>\n<h1 style=\"margin:0 0 12px;color:#fff;font-size:28px;line-height:1.2;\">${saturdayContent.headline}</h1>\n<p style=\"margin:0;color:#fff;opacity:0.9;font-size:16px;\">${saturdayContent.subheadline}</p>\n</td>\n</tr>\n\n<tr>\n<td style=\"padding:28px 28px 20px;\">\n${saturdayContent.todayFeature ? `\n<div style=\"display:flex;gap:16px;align-items:center;background:#f8f6f4;border-radius:12px;padding:16px;margin:0 0 20px;\">\n<img src=\"${saturdayContent.todayFeature.image}\" style=\"width:120px;height:120px;object-fit:cover;border-radius:10px;flex-shrink:0;\">\n<div>\n<p style=\"margin:0 0 4px;color:#AF3D4B;font-size:12px;font-weight:bold;letter-spacing:0.5px;\">TODAY'S FEATURE</p>\n<p style=\"margin:0 0 6px;color:#590B3F;font-weight:bold;font-size:16px;\">${saturdayContent.todayFeature.name}</p>\n<p style=\"margin:0 0 12px;color:#666;font-size:14px;line-height:1.4;\">${saturdayContent.todayFeature.desc}</p>\n<a href=\"${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=saturday\"\nstyle=\"display:inline-block;background:#AF3D4B;color:#fff;padding:10px 24px;border-radius:8px;text-decoration:none;font-size:14px;font-weight:bold;\">\n${saturdayContent.todayFeature.cta}\n</a>\n</div>\n</div>\n` : ''}\n<p style=\"margin:0 0 20px;color:#333;font-size:16px;line-height:1.6;\">\nWalk up, order fresh, eat happy. No reservations needed \u2014 just bring your appetite.\n</p>\n</td>\n</tr>\n\n${buildQuickMenu()}\n\n<tr>\n<td style=\"padding:0 28px 24px;text-align:center;\">\n<a href=\"${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=saturday\"\nstyle=\"display:inline-block;background:#AF3D4B;color:#fff;padding:14px 32px;border-radius:10px;text-decoration:none;font-size:16px;font-weight:bold;\">\nOrder Ahead \u2014 Skip the Line\n</a>\n</td>\n</tr>\n\n${saturdayContent.mealPrepReminder ? `\n<tr>\n<td style=\"padding:0 28px 24px;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f0ece8;border-radius:10px;padding:16px;\">\n<tr><td style=\"text-align:center;\">\n<p style=\"margin:0;color:#666;font-size:14px;\">\ud83c\udf71 Meal prep orders close Wednesday at noon \u00b7 Pickup Thursday</p>\n</td></tr>\n</table>\n</td>\n</tr>\n` : ''}\n`)\n};\n\nconst results = [];\nfor (const item of $input.all()) {\n  const c = item.json;\n  if (c.email && !c.unsubscribed_email) {\n    results.push({\n      json: {\n        contact_id: c.id,\n        channel: 'email',\n        to: c.email,\n        subject: template.email_subject,\n        body: template.email_body.replace(/%%EMAIL%%/g, encodeURIComponent(c.email)),\n        campaign_day: day\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "id": "code-saturday",
      "name": "Saturday \u2014 Weekend Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// SUNDAY \u2014 This Week Preview\n// Focus: Next week's meal prep menu + Monday lunch tease + weekly preview\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst day = $input.first().json.campaign_day;\nconst baseURL = \"https://order.theutopiadeli.com\";\n\n// MEAL PREP SCHEDULE (Online Orders Only)\n// - Closes: Every Wednesday 12:00 PM\n// - Reopens: Every Thursday 8:00 PM\n// - Pickup: Thursday 12:30 PM \u2013 7:30 PM\n//\n// WALK-UP HOURS (Regular Deli)\n// - Monday \u2013 Saturday: 12:30 PM \u2013 7:30 PM\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// SWAP ZONE: Sunday Preview (Update Weekly)\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nconst sundayContent = {\n  // Next week's meal prep menu (all 6+ bowls)\n  nextWeekMenu: [\n    {\n      name: \"Street Corn Taco Bowl\",\n      desc: \"Cilantro lime rice, chipotle lentil crumble, roasted corn, pickled onions, chipotle crema\",\n      image: \"https://order.theutopiadeli.com/catering/images/meal-buffalo-chickpea.jpg\"\n    },\n    {\n      name: \"Nashville Hot Lentil Bowl\",\n      desc: \"Garlic rice, Nashville hot lentils, roasted broccoli, ranch drizzle\",\n      image: \"https://order.theutopiadeli.com/catering/images/meal-cajun-northern-beans.jpg\"\n    },\n    {\n      name: \"Mediterranean Harvest Bowl\",\n      desc: \"Lemon herb quinoa, crispy oregano chickpeas, cucumber tomato salad, hummus, tahini drizzle\",\n      image: \"https://order.theutopiadeli.com/catering/images/meal-mediterranean-harvest.jpg\"\n    },\n    {\n      name: \"Thai Peanut Crunch Bowl\",\n      desc: \"Jasmine rice, crispy peanut tofu, sesame cabbage slaw, sweet chili peanut drizzle\",\n      image: \"https://order.theutopiadeli.com/catering/images/meal-thai-peanut-crunch.jpg\"\n    },\n    {\n      name: \"Cajun Red Beans & Rice\",\n      desc: \"Dirty rice, Cajun beans, peppers & onions, green onion garnish\",\n      image: \"https://order.theutopiadeli.com/catering/images/meal-cajun-northern-beans.jpg\"\n    },\n    {\n      name: \"Eggplant Parmesan\",\n      desc: \"Parmesan crusted eggplant, homemade marinara, fresh basil\",\n      image: \"https://order.theutopiadeli.com/catering/images/meal-eggplant-parm.jpg\"\n    }\n  ],\n  // Dessert + Drink add-ons\n  addOns: [\n    { name: \"Raspberry Dark Chocolate Mousse\", image: \"https://order.theutopiadeli.com/catering/images/dessert-raspberry-mousse.jpg\" },\n    { name: \"Mango Chia Pudding\", image: \"https://order.theutopiadeli.com/catering/images/dessert-mango-chia.jpg\" },\n    { name: \"Cold-Pressed Juice\", image: \"https://order.theutopiadeli.com/images/cold_pressed_juice_v2.jpg\" }\n  ],\n  // Monday lunch tease (2-3 items to drive Monday walk-ups)\n  mondayLunch: [\n    {\n      name: \"Stek Philly\",\n      desc: \"The sandwich that built our reputation\",\n      image: \"https://order.theutopiadeli.com/images/menu/stek%20Philly.jpg\",\n      link: `${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=sunday`\n    },\n    {\n      name: \"Chick'n Poppers\",\n      desc: \"5 sauces, unlimited flavor\",\n      image: \"https://order.theutopiadeli.com/images/menu/chicken_poppers_v3.jpg\",\n      link: `${baseURL}/pickup-order/?utm_source=email&utm_medium=campaign&utm_campaign=sunday`\n    }\n  ],\n  // \"What's happening this week\" \u2014 optional special events, new items, etc.\n  thisWeek: {\n    hasContent: false, // Set to true when there's something to announce\n    title: \"This Week at Utopia\",\n    items: [\n      // { day: \"Tuesday\", text: \"New dessert drop: Peach Cobbler\" },\n      // { day: \"Friday\", text: \"Live music 6-8PM\" }\n    ]\n  }\n};\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// END SWAP ZONE\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst images = {\n  logo: 'https://order.theutopiadeli.com/images/logo.png'\n};\n\nconst buildHeader = () => `<tr>\n<td style=\"background:#590B3F;padding:20px 24px;\">\n <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n <tr>\n <td style=\"vertical-align:middle;\">\n <img src=\"${images.logo}\" alt=\"The Utopia Deli\" style=\"height:56px;display:block;\">\n </td>\n <td style=\"vertical-align:middle;padding-left:16px;\">\n <p style=\"margin:0;color:#fff;font-family:'Georgia','Times New Roman',serif;font-size:24px;font-weight:bold;letter-spacing:0.5px;\">\n The Utopia Deli\n </p>\n </td>\n </tr>\n </table>\n</td>\n</tr>\n`;\n\nconst buildFooter = () => `<tr>\n<td style=\"padding:20px;background:#f8f6f4;font-family:'Georgia','Times New Roman',serif;text-align:center;border-top:1px solid #e5e5e5;\">\n<p style=\"margin:0 0 6px;font-size:13px;color:#888;\">\nThe Utopia Deli \u00b7 801 S Chester St \u00b7 Little Rock, AR 72202\n</p>\n<p style=\"margin:0;font-size:12px;\">\n<a href=\"https://n8n.systack.net/webhook/unsubscribe?email=%%EMAIL%%&channel=email\" style=\"color:#AF3D4B;text-decoration:underline;\">Unsubscribe from emails</a>\n</p>\n</td>\n</tr>\n`;\n\nconst wrapEmail = (content) => `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<style>\n@media only screen and (max-width: 600px) {\n .container { width: 100% !important; }\n .menu-grid { display: block !important; }\n .menu-card { width: 100% !important; margin-bottom: 12px !important; }\n .lunch-grid { display: block !important; }\n .lunch-card { width: 100% !important; margin-bottom: 16px !important; }\n .addon-row { display: block !important; }\n .addon-card { width: 100% !important; margin-bottom: 12px !important; }\n}\n</style>\n</head>\n<body style=\"margin:0;padding:0;background:#f8f6f4;font-family:'Georgia','Times New Roman',serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n<tr><td align=\"center\" style=\"padding:24px 12px;\">\n<table class=\"container\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border-radius:16px;overflow:hidden;max-width:600px;width:100%;\">\n${buildHeader()}\n${content}\n${buildFooter()}\n</table>\n</td></tr>\n</table>\n</body>\n</html>\n`;\n\nconst buildMenuGrid = () => {\n  const cards = sundayContent.nextWeekMenu.map(bowl => `\n<div class=\"menu-card\" style=\"flex:1;min-width:160px;background:#f8f6f4;border-radius:12px;overflow:hidden;\">\n<img src=\"${bowl.image}\" style=\"width:100%;height:110px;object-fit:cover;display:block;\">\n<div style=\"padding:10px;\">\n<p style=\"margin:0 0 2px;color:#590B3F;font-weight:bold;font-size:13px;\">${bowl.name}</p>\n<p style=\"margin:0;color:#888;font-size:11px;line-height:1.3;\">${bowl.desc.substring(0, 50)}...${bowl.desc.length > 50 ? '...' : ''}</p>\n</div>\n</div>\n`).join('');\n\n  return `<tr>\n<td style=\"padding:0 28px 16px;\">\n<h2 style=\"margin:0 0 16px;color:#590B3F;font-size:20px;\">\ud83c\udf71 This Week's Meal Prep Menu</h2>\n<div class=\"menu-grid\" style=\"display:flex;gap:10px;flex-wrap:wrap;\">\n${cards}\n</div>\n</td>\n</tr>`;\n};\n\nconst buildAddOns = () => {\n  const cards = sundayContent.addOns.map(item => `\n<div class=\"addon-card\" style=\"flex:1;min-width:120px;background:#f8f6f4;border-radius:10px;overflow:hidden;text-align:center;\">\n<img src=\"${item.image}\" style=\"width:100%;height:90px;object-fit:cover;display:block;\">\n<div style=\"padding:8px;\">\n<p style=\"margin:0;color:#590B3F;font-weight:bold;font-size:12px;\">${item.name}</p>\n</div>\n</div>\n`).join('');\n\n  return `<tr>\n<td style=\"padding:0 28px 24px;\">\n<p style=\"margin:0 0 10px;color:#666;font-size:14px;\">Add-ons available:</p>\n<div class=\"addon-row\" style=\"display:flex;gap:10px;\">\n${cards}\n</div>\n</td>\n</tr>`;\n};\n\nconst buildMondayLunch = () => {\n  const cards = sundayContent.mondayLunch.map(item => `\n<div class=\"lunch-card\" style=\"flex:1;min-width:160px;background:#f8f6f4;border-radius:12px;overflow:hidden;\">\n<a href=\"${item.link}\" style=\"text-decoration:none;color:inherit;\">\n<img src=\"${item.image}\" style=\"width:100%;height:130px;object-fit:cover;display:block;\">\n<div style=\"padding:12px;\">\n<p style=\"margin:0 0 4px;color:#590B3F;font-weight:bold;font-size:14px;\">${item.name}</p>\n<p style=\"margin:0;color:#888;font-size:12px;\">${item.desc}</p>\n</div>\n</a>\n</div>\n`).join('');\n\n  return `<tr>\n<td style=\"padding:0 28px 24px;\">\n<div style=\"border-top:2px dashed #e5e5e5;padding-top:24px;\"></div>\n<h2 style=\"margin:0 0 16px;color:#590B3F;font-size:20px;\">\ud83e\udd6a Get Lunch Monday</h2>\n<p style=\"margin:0 0 16px;color:#666;font-size:15px;\">We're open Monday for walk-ups. Here are two ways to start your week right:</p>\n<div class=\"lunch-grid\" style=\"display:flex;gap:16px;\">\n${cards}\n</div>\n</td>\n</tr>`;\n};\n\nconst buildThisWeek = () => {\n  if (!sundayContent.thisWeek.hasContent || sundayContent.thisWeek.items.length === 0) return '';\n\n  const items = sundayContent.thisWeek.items.map(item => `\n<tr><td style=\"padding:8px 0;border-bottom:1px solid #eee;\">\n<p style=\"margin:0;color:#AF3D4B;font-weight:bold;font-size:13px;\">${item.day}</p>\n<p style=\"margin:0;color:#333;font-size:14px;\">${item.text}</p>\n</td></tr>\n`).join('');\n\n  return `<tr>\n<td style=\"padding:0 28px 24px;\">\n<div style=\"border-top:2px dashed #e5e5e5;padding-top:24px;\"></div>\n<h2 style=\"margin:0 0 16px;color:#590B3F;font-size:20px;\">\ud83d\udcc5 ${sundayContent.thisWeek.title}</h2>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n${items}\n</table>\n</td>\n</tr>`;\n};\n\nconst template = {\n  email_subject: \"\ud83d\udccb This Week's Menu + Monday Lunch Tease\",\n  email_body: wrapEmail(`\n<!-- MEAL PREP SECTION -->\n<tr>\n<td style=\"background:linear-gradient(135deg,#590B3F 0%,#8B1A4E 100%);padding:32px 28px;text-align:center;\">\n<p style=\"margin:0 0 8px;color:#FFD700;font-size:14px;font-weight:bold;letter-spacing:1px;\">\ud83d\udccb MEAL PREP MENU</p>\n<h1 style=\"margin:0 0 8px;color:#fff;font-size:26px;line-height:1.2;\">This Week's Bowls</h1>\n<p style=\"margin:0;color:#fff;opacity:0.9;font-size:15px;\">Orders close Wednesday noon \u00b7 Pickup Thursday</p>\n</td>\n</tr>\n\n${buildMenuGrid()}\n\n${buildAddOns()}\n\n<tr>\n<td style=\"padding:0 28px 24px;text-align:center;\">\n<a href=\"${baseURL}/catering/?utm_source=email&utm_medium=campaign&utm_campaign=sunday\"\nstyle=\"display:inline-block;background:#AF3D4B;color:#fff;padding:14px 32px;border-radius:10px;text-decoration:none;font-size:16px;font-weight:bold;\">\nOrder Meal Prep \u2192\n</a>\n</td>\n</tr>\n\n<!-- REGULAR DELI SECTION -->\n<tr>\n<td style=\"padding:0 28px;\">\n<div style=\"border-top:2px dashed #e5e5e5;padding-top:24px;\"></div>\n<p style=\"margin:0 0 8px;color:#AF3D4B;font-size:14px;font-weight:bold;letter-spacing:0.5px;\">REGULAR DELI</p>\n<h2 style=\"margin:0 0 16px;color:#590B3F;font-size:24px;\">Monday Lunch Tease \ud83e\udd6a</h2>\n<p style=\"margin:0 0 16px;color:#666;font-size:15px;\">We're open Monday for walk-ups. Here are two ways to start your week right:</p>\n</td>\n</tr>\n\n${buildMondayLunch()}\n\n${buildThisWeek()}\n\n<tr>\n<td style=\"padding:0 28px 32px;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f8f6f4;border-radius:12px;padding:20px;\">\n<tr><td style=\"text-align:center;\">\n<h3 style=\"margin:0 0 12px;color:#590B3F;font-size:16px;\">Meal Prep Schedule</h3>\n<p style=\"margin:0 0 6px;color:#333;font-size:14px;\">\ud83d\udfe2 Orders open Thursday 8:00 PM</p>\n<p style=\"margin:0 0 6px;color:#333;font-size:14px;\">\ud83d\udd34 Orders close Wednesday 12:00 PM</p>\n<p style=\"margin:0;color:#333;font-size:14px;\">\ud83d\udce6 Pickup Thursday 12:30 PM \u2013 7:30 PM</p>\n</td></tr>\n</table>\n</td>\n</tr>\n`)\n};\n\nconst results = [];\nfor (const item of $input.all()) {\n  const c = item.json;\n  if (c.email && !c.unsubscribed_email) {\n    results.push({\n      json: {\n        contact_id: c.id,\n        channel: 'email',\n        to: c.email,\n        subject: template.email_subject,\n        body: template.email_body.replace(/%%EMAIL%%/g, encodeURIComponent(c.email)),\n        campaign_day: day\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "id": "code-sunday",
      "name": "Sunday \u2014 Week Preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        700
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body }}",
        "toRecipients": "={{ $json.to }}"
      },
      "id": "send-email",
      "name": "Send Email (Gmail/SendGrid)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Daily 9AM Trigger": {
      "main": [
        [
          {
            "node": "Set Day & Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Day & Week": {
      "main": [
        [
          {
            "node": "Route by Day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Day": {
      "main": [
        [
          {
            "node": "Monday \u2014 Item of the Week",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tuesday \u2014 Catering",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wednesday \u2014 Meal Prep Close",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Thursday \u2014 Reopen + Deli",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Friday \u2014 Weekend Kickoff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Saturday \u2014 Weekend Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sunday \u2014 Week Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday \u2014 Item of the Week": {
      "main": [
        [
          {
            "node": "Send Email (Gmail/SendGrid)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tuesday \u2014 Catering": {
      "main": [
        [
          {
            "node": "Send Email (Gmail/SendGrid)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wednesday \u2014 Meal Prep Close": {
      "main": [
        [
          {
            "node": "Send Email (Gmail/SendGrid)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thursday \u2014 Reopen + Deli": {
      "main": [
        [
          {
            "node": "Send Email (Gmail/SendGrid)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Friday \u2014 Weekend Kickoff": {
      "main": [
        [
          {
            "node": "Send Email (Gmail/SendGrid)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saturday \u2014 Weekend Reminder": {
      "main": [
        [
          {
            "node": "Send Email (Gmail/SendGrid)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sunday \u2014 Week Preview": {
      "main": [
        [
          {
            "node": "Send Email (Gmail/SendGrid)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}